<app-breadcrumbs></app-breadcrumbs>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>About Pixel Twist</h2>
          <p class="">JPPdesigns is a young and vibrant Web Design, Development and Graphic Design company. We offer fully bespoke, intuitive websites, and graphical art that not only look great, but also work great.</p>
          <p>Our experienced and enthusiastic website designers &amp; developers possess the knowledge and expertise needed to create online experiences that motivate potential clients to interact and make contact, benefiting your business immensely.</p>
          <p class="">At JPPdesigns, we not only specialise in Web Design &amp; Development, but also Graphic Design, Hosting, S.E.O, T-shirt Design, Technical Support and Printing. We create websites and graphical art that will 100% be an asset to your business.</p>
          <h3 class="text-bold">History</h3>
          <p class="">Joel Pierre-Powell founded JPPdesigns in 2011. The thought behind JPPdesigns was simple. In this present economic climate, many businesses are in desperate need of an online presence to guarantee maximum exposure of their offering to the world at large, and to bring in more business. Since then, JPPdesigns has helped a vast amount of businesses accomplish this with great-bespoke websites.</p>
          <h3 class="text-bold">Why us?</h3>
          <p class="">With years of experience in Web Design &amp; Development, our staff at JPPdesigns are second to none when it comes to Speed and Efficiency. Our staff are highly trained in all the latest in Web Development technologies, so we have the ability and capability to produce the quality you would expect from a first-class Web Design &amp; Development team.</p>
          <p class="">Every website we build is coded from the ground up, without the use of any bought templates, however we still maintain a 1 month average completion time because we are fast, efficient and just a phone call away should you have any queries.</p>
      </div>
    </div>
  </div>
</section>

<app-page-cta></app-page-cta>
