.project-block {
  padding: 0;
  position: relative;
  box-sizing: border-box;
  border:3px solid $white;
  overflow: hidden;

  .project-container {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;

    &:after {
      content: '';
      width: 100px;
      height: 100px;
      top: auto;
      bottom: -50px;
      right: -50px;
      background-color: $red;
      position: absolute;
      z-index:19;
      transform: rotate(-45deg);
      transition: .5s all;
      border-top:3px solid white;
    }

    &:before {
      content: '\f0c1'; // Link
      //content: '\f005'; // Star
      font-family:FontAwesome;
      color:white;
      text-align: center;
      font-size: 20px;
      z-index: 20;
      position: absolute;
      top:auto;
      bottom:6px;
      right: 11px;
      transition: .5s all;
    }

    .project-image {
      width: 100%;
    }

    .project-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba($dark_gray-2, .8);
      font-weight:bold;
      transition: .5s all;
      z-index: 15;
      top: 0;
      left: 0;

      .project-overlay-content {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 70%;
        transform: translate(-50%, -50%);
        text-align:center;

        h4 {
          color:white;
          font-size: 28px;
          font-weight: bold;
        }

        span.badge {
          margin-right: 5px;

          &.badge-primary {
            background-color: $red;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

    }

    &:hover {
      &:after {
        content: 'View Project >';
        text-align: center;
        font-size: 18px;
        color:white;
        font-weight: bold;
        width: 100%;
        height: 80px;
        top: auto;
        bottom: -40px;
        right: 0px;
        padding-top: 7px;
        background-color: $red;
        position: absolute;
        z-index:19;
        transform: rotate(0deg);
        border-top-color:$white;
      }

      &:before {
        opacity: 0;
      }

      .project-overlay {
        opacity: 1;
      }
    }
  }



}
