#project-single {

  #cover_image {
    width: 100%;
    height: 350px;
    background-color: $light_gray;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba($dark_gray-1, 0.12), 0 1px 2px rgba($dark_gray-1, 0.24);

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 1;
      width: 100%;
    }
  }

  #logo_image {
    width: 285px;
    height: 200px;
    background-color: $lightGray;
    position: relative;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    border:3px solid white;
    box-shadow: 0 2px 6px rgba($dark_gray-1, 0.16), 0 1px 6px rgba($dark_gray-1, 0.23);
    z-index:11;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 1;
      width: 100%;
    }
  }

  #project_content {
    position: relative;
    top: -50px;

    #services_content {

      h3 {
        color:white;
      }

      ul {
        color:white;
        padding-left: 25px;

        li {
          color:white;
        }
      }
    }
  }

}
