<!--Overrides for Select2 Styles-->
<style>
  .select2-container--classic * {
    font-size: 14px;
  }

  .select2-container--classic .select2-results__option[aria-selected=true] {
    background-color: #EEEEEE;
  }

  .select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #2196F3;
  }

  .select2-container--classic .select2-results__option--highlighted[aria-selected=true] {
    background-color: #2196F3;
  }
</style>
<!--End of Overrides for Select2 Styles-->

<app-loading></app-loading>

<form #f="ngForm" (ngSubmit)="onUpdate(f)" class="form-horizontal" enctype="multipart/form-data">

  <section *ngIf="project" class="npadding">
    <div class="container-fluid">
      <app-error-messages></app-error-messages>

      <div class="cover-image-container" [ngStyle]="{ 'height': coverHeight }">

        <div id="cover_input_wrap" class="file_input_wrap">

          <a (click)="removeCoverImage()" [ngClass]="project.cover_image ? '':'d-none'" id="remove_cover_image">
            <i class="fa fa-times"></i>
          </a>

          <label class="hand-cursor waves waves-effect waves-ripple">
            <input type="file" (change)="coverChangeEvent($event)"
                   name="cover_image" id="cover_image"
                   placeholder="Upload File"/>

            <span id="cover_input-label" *ngIf="!showCoverImage">
              <span class="fa fa-camera mr-5"></span>
              Upload Cover Image
            </span>

          </label>

        </div>

        <!--(error)="removeCoverImage()"-->

        <img *ngIf="showCoverImage"
             [src]="coverImageSrc"
             id="coverPreview"

             class="img-fluid" alt="Preview">

      </div>

      <div class="logo-image-container">

        <div id="logo_input_wrap" class="file_input_wrap">

          <a (click)="removeLogoImage()" [ngClass]="project.logo_image ? '':'d-none'" id="remove_logo_image">
            <i class="fa fa-times"></i>
          </a>

          <label class="hand-cursor waves waves-effect waves-ripple">

            <input type="file"
                   (change)="logoChangeEvent($event)"
                   name="logo_image" id="logo_image"
                   placeholder="Upload File"/>

            <span id="logo_input-label" *ngIf="!showLogoImage">
            <span class="fa fa-picture-o"></span>
          </span>

          </label>

          <img *ngIf="showLogoImage"
               [src]="logoImageSrc"
               id="logoPreview"
               class="img-fluid" alt="Preview">

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="project-content">

        <div class="row text-center">
          <div class="col-md-6  mx-auto">
            <input [(ngModel)]="project.title" required id="title" placeholder="Company Name Here" class="form-control"
                   type="text" name="title">
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-6  mx-auto">
            <input [(ngModel)]="project.subtitle" id="subtitle" placeholder="Project Subtitle" class="form-control"
                   type="text" name="subtitle">
          </div>

        </div>

        <div class="row text-center mt-20">
          <div class="col-md-8 mx-auto">

            <p id="slug-preview">
            <span>
              <strong>Link:</strong> pixel-twist.co.uk/projects/<input [ngModel]="project.slug | slugify"
                                                                       (ngModelChange)="project.slug=$event" required
                                                                       id="slug" class="form-control text-left nbbottom"
                                                                       style="width: auto; display: inline-block;"
                                                                       type="text" name="slug">
            </span>
            </p>
          </div>
        </div>

        <div class="row mt-20">
          <div class="col-md-7">
            <div class="card bg-light-gray px-3 pt-15 pb-15 mb-20">
              <label>Main Content:</label>
              <div class="clearfix mb-10"></div>
              <app-tinymce initialContent="{{project.main_content}}"
                           [elementId]="'main-content'"
                           (onEditorKeyup)="tinymceKeyup($event)"></app-tinymce>
            </div>
          </div>

          <div class="col-md-5">
            <div class="card bg-light-gray pt-15 pb-15">

              <div class="row mb-20 form-group">
                <div class="col-sm-3 col-xs-4">
                  <label for="website_url">URL:</label>

                </div>

                <div class="col-sm-9 col-xs-8">
                  <input [ngModel]="project.website_url"
                         placeholder="http://"
                         id="website_url" class="form-control"
                         type="url" name="website_url">
                </div>
              </div>

              <div class="row mb-20 form-group">
                <div class="col-sm-5 col-xs-6">
                  <label for="user_id">Author:</label>
                  <a (click)="showInput($event, 'user_id')" class="text-dark-gray"><i
                    class="fa fa-pencil ml-10"></i></a>
                </div>

                <div class="col-sm-7 col-xs-6">
                  <p id="user_id_preview" class="nmbottom pt-5 text-right text-capitalize">
                    {{ project.user.firstname + ' ' + project.user.lastname }}
                  </p>
                  <select [disabled]="disabledAuthor" name="user_id" id="user_id" class="form-control d-none"
                          [ngModel]="defaultAuthor">
                    <option *ngFor="let author of authors" [value]="author.id">{{ author.firstname + ' ' +
                      author.lastname }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row mb-20 form-group">
                <div class="col-sm-5 col-xs-6">
                  <label for="status">Status:</label>
                  <a (click)="showInput($event, 'status')" class="text-dark-gray"><i class="fa fa-pencil ml-10"></i></a>
                </div>

                <div class="col-sm-7 col-xs-6">
                  <p id="status_preview" class="nmbottom pt-5 text-right text-capitalize">{{ project.status }}</p>
                  <select [disabled]="disabledStatus" name="status" id="status" class="form-control d-none"
                          [ngModel]="defaultStatus">
                    <option value="published">Published</option>
                    <option value="draft">Draft</option>
                  </select>
                </div>
              </div>

              <div class="row mb-20 form-group">
                <div class="">
                  <div class="col-sm-12">

                    <label>
                      Services:
                    </label>

                  </div>

                  <div class="clearfix"></div>

                  <div class="col-sm-12">
                    <div id="services_checkboxCont">
                      <label *ngFor="let service of services"
                             style="width: 132px; font-size: 12px;"
                             class="checkbox-inline nmleft mr-5">
                        <input type="checkbox"
                               (change)="onCheckboxChange($event, service.id)"
                               id="checkbox_{{ service.id }}"
                               [value]="service.id">
                        {{ service.title }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group nmbottom">
                  <div class="col-sm-12">
                    <label for="tags">Tags
                      <small>(optional)</small>
                      :</label>

                    <select2 id="tags"
                             [data]="tagsArray"
                             [cssImport]="false"
                             [options]="options"
                             [value]="value"
                             (valueChanged)="select2Changed($event)"></select2>
                  </div>
              </div>
            </div>

            <div class="mt-20">
              <a *ngIf="adminRoles.indexOf(role) != -1" [routerLink]="['/admin/projects']"
                 class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
                <i class="fa fa-long-arrow-left"></i>
              </a>

              <a *ngIf="role === 'author'" [routerLink]="['/admin/my-projects']"
                 class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
                <i class="fa fa-long-arrow-left"></i>
              </a>


              <button class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light float-right"
                      [disabled]="!f.valid"
                      type="submit"
              >
                Submit
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

</form>
