<section>
  <div class="container-fluid">

    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="mb-20">My Projects</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi debitis doloribus dolorum, ea enim et
          expedita illo impedit, ipsum magni molestias natus officiis porro, quos reprehenderit voluptas voluptatibus!
          Officiis.</p>
      </div>

      <div class="col-sm-4 text-right xs-text-left">
        <a routerLink="/admin/project/create"
           class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light">
          <i class="fa fa-plus mr-10"></i> create project
        </a>
      </div>
    </div>

    <div class="clearfix mb-30"></div>

    <div class="row">
      <div class="col-sm-12">
        <app-error-messages></app-error-messages>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div *ngIf="projects?.length === 0">
          <p>
            No projects! <a routerLink="/admin/project/create">Create your first project post</a>
          </p>
        </div>

        <div *ngIf="projects?.length !== 0" class="table-responsive" [class]="">
          <table class="table table-striped">
            <thead>
            <tr>
              <!--<th>ID</th>-->
              <th>Title</th>
              <th>Slug</th>
              <th class="">Author</th>
              <th class="">Status</th>
              <th class="text-center" style="width: 250px;">Tags</th>
              <th style="width: 100px;"></th>
            </tr>

            </thead>
            <tbody>
            <tr
              app-project
              @showHide
              *ngFor="let project of projects  | paginate: { id: 'projects-pagination', itemsPerPage: 10, currentPage: page }"
              [project]="project" (projectDeleted)="onDeleted($event)">
            </tr>
            </tbody>

          </table>
        </div>

        <pagination-controls id="projects-pagination" directionLinks="true"
                             autoHide="true"
                             previousLabel=""
                             nextLabel=""
                             (pageChange)="page = $event">
        </pagination-controls>

      </div>
    </div>
  </div>
</section>
