<section>
  <div class="container-fluid">

    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="mb-20">All Projects</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi debitis doloribus dolorum, ea enim et
          expedita illo impedit, ipsum magni molestias natus officiis porro, quos reprehenderit voluptas voluptatibus!
          Officiis.</p>
      </div>

      <div class="col-sm-4 text-right xs-text-left">
        <a routerLink="/admin/project/create"
           class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light">
          <i class="fa fa-plus mr-10"></i> create project
        </a>
      </div>
    </div>

  </div>
</section>

<app-error-messages></app-error-messages>

<section class="bg-light-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card npleft npright card-default bg-white nmbottom">

          <div class="card-header pl-15 pr-15 bg-white">
            <p class="nmbottom">
              Posts: {{ projectsCount }}

              <span class="float-right" style="cursor: pointer">
                Toggle View: <i (click)="changeView($event.target)" class="fa fa-toggle-on ml-5"></i>
              </span>
            </p>
          </div>

          <div class="card-body mt-10 project_fb-container">

            <div *ngIf="projects?.length === 0">
              <p>
                No Projects! <a routerLink="/admin/project/create">Create your first project</a>
              </p>
            </div>

            <div *ngIf="projects?.length !== 0 && viewBlock === 'block'" class="row">
              <div app-project
                   @showHide
                   class="col-xl-4 col-lg-6 col-md-6"
                   *ngFor="let project of projects  | paginate: { id: 'project-pagination', itemsPerPage: 6, currentPage: page }"
                   [viewBlock]="viewBlock"
                   [project]="project"
                   (projectDeleted)="onDeleted($event)">

              </div>
            </div>

            <div *ngIf="projects?.length !== 0 && viewBlock === 'table'" class="table-responsive" [class]="">

              <div class="col-sm-12">

                <table class="table table-striped">
                  <thead>
                  <tr>
                    <!--<th>ID</th>-->
                    <th>Title</th>
                    <th>Slug</th>
                    <th class="">Author</th>
                    <th class="">Status</th>
                    <th class="text-center" style="width: 250px;">Services</th>
                    <th class="text-center" style="width: 250px;">Tags</th>
                    <th style="width: 100px;"></th>
                  </tr>

                  </thead>
                  <tbody>
                  <tr
                    app-project
                    @showHide
                    *ngFor="let project of projects | paginate: { id: 'project-pagination', itemsPerPage: 6, currentPage: page }"
                    [project]="project"
                    [viewBlock]="viewBlock"
                    (projectDeleted)="onDeleted($event)">
                  </tr>
                  </tbody>


                </table>

              </div>

            </div>

          </div>

          <div *ngIf="projectsCount > 6" class="card-footer bg-white">
            <pagination-controls id="project-pagination" directionLinks="true"
                                 autoHide="true"
                                 previousLabel=""
                                 nextLabel=""
                                 (pageChange)="page = $event">
            </pagination-controls>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
