<div *ngIf="viewBlock === 'block'" class="project_fb">

  <div [routerLink]="['/admin/project/edit', project.id]" class="project_fb-cover-image" [ngStyle]="{ 'height': coverHeight }">
    <img *ngIf="hasCoverImage" [src]="coverSrc" alt="Project Cover Image" width="100%">
    <!--<div class="project_fb-image&#45;&#45;overlay"></div>-->
  </div>

  <div class="project_fb-logo">
    <img [src]="logoSrc" alt="Project Logo" width="100%">
  </div>

  <div class="project_fb-actions">
    <ul class="list-inline">
      <li [routerLink]="['/admin/project/edit', project.id]" class="hover list-inline-item">
        <i class="fa fa-pencil"></i>
      </li>

      <li *ngIf="project.status === 'published'" class="list-inline-item" [ngClass]="project.status === 'published' ? 'bg-green' : ''">
        <i class="fa fa-flash"></i>
      </li>

      <li class="bg-red list-inline-item" *ngIf="!isAuthor" (click)="onDelete()">
        <i class="fa fa-trash"></i>
      </li>
    </ul>
  </div>

  <div class="clearfix"></div>

  <div class="project_fb-details">
    <h3 class="xs-text-center">
      <a [routerLink]="['/admin/project/edit', project.id]">
        {{ project.title }}
      </a>
    </h3>
  </div>

  <div class="project_fb-services">
    <ul>
      <li *ngFor="let service of project.services">
        {{ service.title }}
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div class="project_fb-footer">
    <p>
      Written by: <span class="text-bold">{{ project.user.firstname + ' ' + project.user.lastname }}</span> |
      <span class="text-capitalize">{{ project.status }}</span>
    </p>
  </div>


</div>

<td *ngIf="viewBlock === 'table'"><a [routerLink]="['/admin/project/edit', project.id]">{{ project.title }}</a></td>
<td *ngIf="viewBlock === 'table'">{{ project.slug }}</td>
<td *ngIf="viewBlock === 'table'" class="">
  {{  project.user.firstname + ' ' + project.user.lastname }}
</td>
<td *ngIf="viewBlock === 'table'" class="text-capitalize">{{ project.status }}</td>
<td *ngIf="viewBlock === 'table'" class="text-center">

  <div *ngIf="project.services.length > 0">
    <button *ngFor="let service of project.services"
            class="badge badge-primary mr-5 small"
            [routerLink]="['/admin/service/show', service.id]">
        <span>
          {{ service.title }}
        </span>
    </button>

  </div>

  <div *ngIf="project.services.length === 0">
    No services
  </div>

</td>
<td *ngIf="viewBlock === 'table'" class="text-center">

  <div *ngIf="project.tags.length > 0">
    <button *ngFor="let tag of project.tags"
            class="badge badge-primary mr-5 small"
            [routerLink]="['/admin/tag/show', tag.id]">
        <span>
          {{ tag.title }}
        </span>
    </button>

  </div>

  <div *ngIf="project.tags.length === 0">
    No tags
  </div>

</td>
<td *ngIf="viewBlock === 'table'" class="text-right">
  <a [routerLink]="['/admin/project/show', project.id]" class="text-white btn btn-warning btn-xs"><i
    class="fa fa-eye"></i></a>

  <a class="text-white btn btn-danger btn-xs text-white" *ngIf="!isAuthor" (click)="onDelete()"><i class="fa fa-trash"></i></a>
</td>
