<section id="preview-project">
  <div class="container-fluid">

    <div class="clearfix"></div>

    <div class="row" *ngIf="!project">
      <div class="col-sm-12">
        <h3 class="text-center mt-10">
          There is no project matching this ID
        </h3>
      </div>
    </div>


    <div class="row" *ngIf="project">
      <div class="col-sm-8">
        <h2 class="mb-20">
          {{ project.title }}
        </h2>

        <h4 *ngIf="project.subtitle" class="mb-10">{{ project.subtitle }}</h4>

        <div [innerHTML]="project.main_content"></div>

        <div class="clearfix mt-30"></div>

        <div class="">
          <a (click)="backClicked()"
             class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
            <i class="fa fa-long-arrow-left"></i> back
          </a>

          <a [routerLink]="['/admin/project/edit', project.id]"
             class="btn btn-md btn-admin-primary float-right waves waves-effect waves-light waves-ripple">
            <i class="fa fa-pencil mr-10"></i>
            edit
          </a>
        </div>

        <div class="clearfix"></div>

      </div>

      <div class="clearfix visible-xs mt-30"></div>

      <aside class="col-sm-4">
        <div class="card bg-light-gray">
          <!--<h4>Post Details:</h4>-->

          <!--<hr>-->

          <ul class="list-unstyled nmbottom">
            <li *ngIf="project.featured_image">
              <strong>Featured Image:</strong>
              <div class="clearfix mt-10"></div>
              <img src="{{ env_url + 'uploads/projects/' + project.featured_image }}" class="img-fluid"
                   alt="{{ project.title }} Image" width="100%">

            </li>
            <li>
              <strong>
                Slug:
              </strong>
              <div class="clearfix"></div>
              <a [routerLink]="['/projects/' + project.slug]">../projects/{{ project.slug }}</a>

            </li>

            <li class="text-capitalize">
              <strong>
                Status:
              </strong>

              {{ project.status }}
            </li>

          </ul>
        </div>


      </aside>
    </div>
  </div>
</section>
