<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        This is the main account page
        <div class="clearfix"></div>
        <a routerLink="/">Go Back to Site</a>
      </div>
    </div>
  </div>
</section>
