<div id="my-account">
  <app-my-account-header></app-my-account-header>

  <main id="my-account-main" class="ie8-hide" role="main">
    <router-outlet></router-outlet>
  </main>
  
  <app-my-account-footer></app-my-account-footer>
</div>



