<app-breadcrumbs></app-breadcrumbs>

<section *ngIf="project" id="project-single" class="npadding">
  <div class="container-fluid">
    <!--[config]="{parallaxInitVal: -100, parallaxRatio: .7}"-->
    <div parallax id="cover_image" [ngStyle]="{ 'height': coverHeight }">
      <img *ngIf="hasCoverImage" [src]="projectCoverImage"
           alt="{{ project.title + ' cover image' }}"
           width="100%">
    </div>

    <div id="logo_image" *ngIf="projectLogoImage">
      <img [src]="projectLogoImage"
           alt="{{ project.title + ' logo image' }}"
           width="100%">
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="container">

    <!--// Project Content Starts here-->
    <div id="project_content">


      <div class="row">

        <div class="col-md-7">
          <h2>
            {{ project.title }}
          </h2>
          <h3 *ngIf="project.subtitle">
            {{ project.subtitle }}
          </h3>
          <div [innerHTML]="project.main_content"></div>

          <div class="clearfix mb-20"></div>

          <h5>Tags:</h5>
          <div *ngIf="tags.length > 0">

            <button [routerLink]="['/projects/tag/', tag.slug]"
                    *ngFor="let tag of tags"
                    class="label bg-red pt-5 pb-5 pl-10 pr-10 mr-5">
        <span>
          {{ tag.title }}
        </span>
            </button>

          </div>
        </div>

        <div class="clearfix visible-sm visible-xs mt-30"></div>


        <div class="col-md-4 col-md-offset-1">
          <div id="services_content" class="card nbradius bg-dark-gray-1 nborder nmargin">
            <h3 class="nmtop">
              Services:
            </h3>

            <ul class="">
              <li *ngFor="let service of services">
                {{ service.title }}
              </li>
            </ul>
          </div>

          <div class="clearfix"></div>

          <a *ngIf="project.website_url"
             [href]="this.project.website_url"
             target="_blank"
             rel=”nofollow”
             class="btn btn-dark-gray-2-alt nbradius btn btn-lg btn-block">
            <i class="fa fa-search mr-10"></i> Visit Site
          </a>
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="row mt-20">
        <div class="col-sm-12">
          <a (click)="backClicked()" class="btn btn-blank btn-md text-dark-gray-1">
            <i class="fa fa-long-arrow-left"></i> back
          </a>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="npbottom bg-light-gray">
  <div class="container-fluid">
    <div class="row">
      <h2 class="text-center">
        Our Recent Projects
      </h2>
    </div>

    <div class="row mt-20">
      <div app-project-block
           @showHide
           class="col-md-4 col-sm-6 npadding"
           *ngFor="let singleProject of projects | slice:0:3; let i=index"
           [project]="singleProject"></div>
    </div>
  </div>
</section>

<app-page-cta></app-page-cta>
