<app-breadcrumbs></app-breadcrumbs>

<section class="npbottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Project Tag Archive: <span class="text-capitalize text-bold">{{ tag }}</span></h2>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section class="npbottom">

  <div class="container-fluid">

    <div class="row">

      <div app-project-block
           class="col-md-4 col-sm-6 npadding"
           @showHide
           *ngFor="let project of projects | paginate: { id: 'work-pagination', itemsPerPage: 10, currentPage: projectPage }"
           [project]="project"></div>


      <div class="clearfix"></div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <pagination-controls id="work-pagination" directionLinks="true"
                             autoHide="true"
                             previousLabel=""
                             nextLabel=""
                             (pageChange)="projectPage = $event">
        </pagination-controls>
      </div>
    </div>

  </div>
</section>

<app-page-cta></app-page-cta>
