.profile-block {
  text-align: center;

  .profile-image {
    margin-bottom: 20px;
    position: relative;

    img {
      background-color: $light_gray;
    }
  }

  .profile-content {
    position: relative;

  }
}
