.user_fb-container {

  .user_fb {
    background-color: $light_gray;
    border:$lightGray 1px solid;
    border-radius: 3px;
    padding: 15px;
    position: relative;
    height: 100px;
    margin-bottom: 30px;

    &.bb-success {
      border-bottom: 2px solid $green;
    }

    &.bb-red {
      border-bottom: 2px solid $red;
    }

    .user_fb-image {
      width: 25%;
      height: 100%;
      overflow: hidden;
      position: relative;
      float: left;
      padding: 5px;

      img {
        border:2px solid white;
        position: absolute;
        width: 100%;
        max-width: 67px;
        height:auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: $white;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $green;
        }
      }
    }

    .user_fb-details {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      display: block;
      margin-left: 5%;

      .user_fb-content {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 0;

        input {
          width: 100%;
        }

        h3 {
          font-size: 18px;
          margin: 0;

          a {
            color:$darkGray;
          }
        }

        p {
          margin-top: 5px;
          margin-bottom: 0;
          font-size: 14px;
        }
      }
    }

    .user_fb-status {
      //position: relative;
      //float: left;
      //width: 20%;
      height: 100%;
      display: block;

       ul {
         top: 50%;
         transform: translateY(-50%);
         position: absolute;
         right: 15px;
         margin:0;
         //border-left:1px dotted $mid_gray_1;
         //padding-left: 10px;

         li {
           width: 23px;
           height: 23px;
           background-color: $white;
           text-align: center;
           border-radius: 50%;
           position: relative;
           transition: .4s all;
           cursor: pointer;
           box-shadow: 0 1px 3px rgba($dark_gray-1, 0.12), 0 1px 2px rgba($dark_gray-1, 0.24);

           i.fa {
             font-size: 12px;
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
           }

           &.bg-success {
             background-color: $green;
             color:white !important;
           }

           &.bg-red {
             background-color: $red;
             color:white !important;
           }

           &.bg-warning {
             background-color: $orange;
             color:white !important;
           }

           &:hover {
             background-color: rgba($mid_gray_1, .4);

           }
         }
       }

    }
  }

}
