<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" *ngIf="user">
        This is the user profile page.
        <br><br>
        {{ user.id }}
        <br>
        {{ user.firstname }}
        <br>
        {{ user.lastname }}
        <br>
        {{ user.email }}
        <br>
        <span class="text-capitalize" *ngFor="let role of user.roles">
          {{ role.name }}
        </span>
      </div>
    </div>

    <div class="row mt-30">
      <div class="col-sm-4 text-left">
        <a [routerLink]="['/admin']"
           class="btn btn-md btn-dark-gray waves waves-effect waves-light waves-ripple">
          <i class="fa fa-long-arrow-left mr-5"></i> back
        </a>
      </div>
    </div>
  </div>
</section>
