<footer id="my-account-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h6>This is the My Account footer</h6>
      </div>
    </div>
  </div>
</footer>
