<header class="ie8-hide" id="my-account-header">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        This is the my account header
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

</header>

