<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">

  <div class="card bg-light-gray mt-20 pb-10 pt-20">

    <div class="form-group">
      <div class="row">
        <div class="col-sm-3">
          <label for="title">Title:</label>
        </div>

        <div class="col-sm-9">
          <input required [(ngModel)]="title" id="title" class="form-control" type="text" name="title"
                 [value]="title"
                 (input)="title = $event.target.value">
        </div>
      </div>
    </div>

    <div class="form-group nmbottom">
      <div class="row">
        <div class="col-sm-3">
          <label>Slug:</label>
        </div>

        <div class="col-sm-9">
          <p id="slug_preview" class="pt-5">
            {{ title | slugify }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="npadding mt-20">
    <a [routerLink]="['/admin']"
       class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
      <i class="fa fa-long-arrow-left"></i>
    </a>


    <button class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light float-right"
            type="submit"
            [disabled]="!f.valid">
      Submit
    </button>
    <div class="clearfix mb-30"></div>
  </div>

</form>
