<table class="table table-striped">
  <thead>
  <tr>
    <!--<th>ID</th>-->
    <th>Title</th>
    <th>Slug</th>
    <th>Author</th>
    <th class="">Status</th>
    <th style="width: 100px;"></th>
  </tr>

  </thead>
  <tbody>
  <tr
    @showHide
    *ngFor="let project of projects | paginate: { id: 'project-pagination', itemsPerPage: 10, currentPage: projectPage }">

    <td class="text-capitalize">
      <a [routerLink]="['/admin/project/edit', project.id]">{{ project.title }}</a>
    </td>

    <td>
      {{ project.slug }}
    </td>

    <td>
      {{ project.user.firstname + ' ' + project.user.lastname }}
    </td>

    <td class="text-capitalize ">
      {{ project.status }}
    </td>

    <td class="text-right">
      <a [routerLink]="['/admin/project/show', project.id]" class="btn text-white btn-warning btn-xs"><i
        class="fa fa-eye"></i></a>
    </td>

  </tr>
  </tbody>
</table>
