<table class="table table-striped">
  <thead>
  <tr>
    <!--<th>ID</th>-->
    <th>Title</th>
    <th>Slug</th>
    <th>Author</th>
    <th>Category</th>
    <th>Live Date</th>
    <th class="">Status</th>
    <th style="width: 120px;"></th>
  </tr>

  </thead>
  <tbody>
  <tr
    @showHide
    *ngFor="let post of posts | paginate: { id: 'post-pagination', itemsPerPage: 10, currentPage: postPage }">

    <td class="text-capitalize">
      <a [routerLink]="['/admin/post/edit', post.id]">{{ post.title }}</a>
    </td>

    <td>
      {{ post.slug }}
    </td>

    <td>
      {{ post.user.firstname + ' ' + post.user.lastname }}
    </td>

    <td class="text-capitalize">
      {{ post.category.title }}
    </td>

    <td>
      {{ post.live_date | date:'dd/MM/yyyy' }}
    </td>

    <td class="text-capitalize">
      {{ post.status }}
    </td>

    <td class="text-right">
      <a [routerLink]="['/admin/post/show', post.id]" class="btn text-white btn-warning btn-xs"><i
        class="fa fa-eye"></i></a>
    </td>

  </tr>
  </tbody>
</table>
