<section>
  <div class="container-fluid">
    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="nmbottom">Tag: <strong>{{ tag?.title }}</strong></h3>
      </div>
    </div>

    <div class="clearfix mb-30"></div>

    <div class="row" *ngIf="tag">
      <div class="col-sm-12">

        <ngb-tabset>
          <ngb-tab *ngIf="posts?.length !== 0">
            <ng-template ngbTabTitle>
              Posts
            </ng-template>
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <app-show-tag-posts [posts]="posts"></app-show-tag-posts>
              </div>

              <pagination-controls id="post-pagination" directionLinks="true"
                                   autoHide="true"
                                   previousLabel=""
                                   nextLabel=""
                                   (pageChange)="postPage = $event">
              </pagination-controls>
            </ng-template>
          </ngb-tab>

          <ngb-tab *ngIf="projects?.length !== 0">
            <ng-template ngbTabTitle>
              Projects
            </ng-template>
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <app-show-tag-projects [projects]="projects"></app-show-tag-projects>
              </div>

              <pagination-controls id="project-pagination" directionLinks="true"
                                   autoHide="true"
                                   previousLabel=""
                                   nextLabel=""
                                   (pageChange)="projectPage = $event">
              </pagination-controls>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="clearfix mt-20"></div>

        <div class="npadding">
          <a (click)="backClicked()"
             class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
            <i class="fa fa-long-arrow-left"></i>
          </a>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>


  </div>
</section>
