<!--<tr>-->
  <!--<td>{{ tag.id }}</td>-->

  <td class="text-capitalize">
    <span id="tagName_{{ tag.id }}" class="tag-item"  *ngIf="!editing">
    {{ tag.title }}
    </span>

    <div *ngIf="editing">
      <input type="text" name="editTitle" class="form-control" [(ngModel)]="editName">
    </div>
  </td>

  <td>
    <span id="tagSlug_{{ tag.id }}" class="tag-item"  *ngIf="!editing">
    {{ tag.slug }}
    </span>

    <div *ngIf="editing">
      <input [ngModel]="editSlug | slugify" (ngModelChange)="editSlug=$event" required id="slug" class="form-control" type="text" name="slug">
    </div>
  </td>

  <td class="text-center">

    <div class="clearfix" *ngIf="editing" class="pt-5"></div>
    {{ tag.posts.length }}

  </td>

  <td class="text-center">

    <div class="clearfix" *ngIf="editing" class="pt-5"></div>
    {{ tag.projects.length }}

  </td>

  <td class="text-right">
    <div *ngIf="!editing">
      <a *ngIf="tag.posts.length > 0 || tag.projects.length > 0" [routerLink]="['/admin/tag/show', tag.id]" class="text-white btn btn-xs btn-warning">
        <i class="fa fa-eye"></i>
      </a>

      <a (click)="onEdit()" class="text-white btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>

      <a (click)="onDelete()" class="text-white btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
    </div>

    <div *ngIf="editing" class="pt-5">
      <a (click)="onUpdate()" class="text-white btn btn-success btn-xs">
        <i class="fa fa-save"></i>
      </a>
      <a (click)="onCancel()" class="text-white btn btn-danger btn-xs">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </td>

<!--</tr>-->
