<section>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-5">
        <h3 class="mb-20">Create Tags</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi debitis doloribus dolorum, ea enim et
          expedita illo impedit, ipsum magni molestias natus officiis porro, quos reprehenderit voluptas voluptatibus!
          Officiis.</p>


        <app-new-tag></app-new-tag>


      </div>

      <div class="col-sm-7">
        <app-error-messages></app-error-messages>

        <p *ngIf="tags?.length === 0">
          You have not created any tags.

          <span class="clearfix"></span>
        </p>

        <div *ngIf="tags?.length !== 0" class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <!--<th>ID</th>-->
              <th>Title</th>
              <th>Slug</th>
              <th class="text-center">Posts</th>
              <th class="text-center">Projects</th>
              <th style="width: 120px;"></th>
            </tr>

            </thead>
            <tbody>
            <tr
              app-tag
              @showHide
              *ngFor="let tag of tags  | paginate: { id: 'tag-pagination', itemsPerPage: 10, currentPage: page }"
              [tag]="tag" (tagDeleted)="onDeleted($event)">
            </tr>
            </tbody>

          </table>
        </div>

        <pagination-controls id="tag-pagination" directionLinks="true"
                             autoHide="true"
                             previousLabel=""
                             nextLabel=""
                             (pageChange)="page = $event">
        </pagination-controls>
      </div>
    </div>


  </div>
</section>
