<section id="forgot-password">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <app-error-messages></app-error-messages>

          <div class="clearfix"></div>

          <h3 class="">Reset Password</h3>

          <hr>

          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group mb-20">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" required ngModel>
            </div>

            <div class="form-group mb-20">
              <label for="password">New Password</label>
              <input type="password" name="password" id="password" class="form-control" required [(ngModel)]="password">
            </div>

            <div class="form-group mb-20">
              <label for="password_confirmation">Confirm Password</label>
              <input (ngModelChange)="passwordValidation($event)" type="password" name="password_confirmation"
                     id="password_confirmation" class="form-control" required [ngModel]="password_confirmation">
            </div>

            <button type="submit" class="btn btn-md btn-white-alt mb-20 float-left" [disabled]="!f.valid">Reset</button>

            <div class="clearfix"></div>

            <p class="">
              Already have an account? <a [routerLink]="['/auth/signin']" class="">login here</a>.
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
