<!--<tr>-->
  <!--<td>{{ category.id }}</td>-->

  <td class="text-capitalize">
    <span id="catName_{{ category.id }}" class="category-item"  *ngIf="!editing">
    {{ category.title }}
    </span>

    <div *ngIf="editing">
      <input type="text" name="editTitle" class="form-control" [(ngModel)]="editName">
    </div>
  </td>

  <td>
    <span id="catSlug_{{ category.id }}" class="category-item"  *ngIf="!editing">
    {{ category.slug }}
    </span>

    <div *ngIf="editing">
      <!--<input type="text" name="slug" class="form-control" [(ngModel)]="editSlug">-->
      <input [ngModel]="editSlug | slugify" (ngModelChange)="editSlug=$event" required id="slug" class="form-control" type="text" name="slug">
    </div>
  </td>

  <td class="text-center">

    <div class="clearfix" *ngIf="editing" class="pt-5"></div>
    {{ category.posts.length }}

  </td>

  <td class="text-right">
    <div *ngIf="!editing">
      <a *ngIf="category.posts.length > 0" [routerLink]="['/admin/category/show', category.id]" class="text-white btn btn-warning btn-xs"><i class="fa fa-eye"></i></a>

      <a (click)="onEdit()" class="text-white btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>

      <a *ngIf="category.posts.length === 0" (click)="onDelete()" class="text-white btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
    </div>

    <div *ngIf="editing" class="pt-5">
      <a (click)="onUpdate()" class="text-white btn btn-success btn-xs">
        <i class="fa fa-save"></i>
      </a>
      <a (click)="onCancel()" class="text-white btn btn-danger btn-xs">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </td>

<!--</tr>-->
