<p *ngIf="posts?.length === 0">
  There are no posts associated with this category.
</p>

<div class="clearfix"></div>

<div *ngIf="posts?.length !== 0" class="clearfix mt-30"></div>

<div *ngIf="posts?.length !== 0" class="table-responsive">

  <div class="clearfix"></div>

  <table class="table table-striped">
    <thead>
    <tr>
      <!--<th>ID</th>-->
      <th>Title</th>
      <th>Slug</th>
      <th>Author</th>
      <th>Live Date</th>
      <th>Status</th>
      <th class="text-center" style="width: 250px;">Tags</th>
      <th style="width: 120px;"></th>
    </tr>

    </thead>
    <tbody>
    <tr
      @showHide
      *ngFor="let post of posts | paginate: { id: 'post-pagination', itemsPerPage: 10, currentPage: page }">

      <td class="text-capitalize">
        <a [routerLink]="['/admin/post/edit', post.id]">
          {{ post.title }}
        </a>
      </td>

      <td>
        {{ post.slug }}
      </td>

      <td>
        {{ post.user.firstname + ' ' + post.user.lastname }}
      </td>

      <td>
        {{ post.live_date | dateFormat }}
      </td>

      <td class="text-capitalize">
        {{ post.status }}
      </td>

      <td class="text-center">

        <div *ngIf="post.tags.length > 0">
          <button *ngFor="let tag of post.tags"
                  class="badge badge-primary mr-5 small"
                  [routerLink]="['/admin/tag/show', tag.id]">
                    <span>
                      {{ tag.title }}
                    </span>
          </button>
        </div>

        <div *ngIf="post.tags.length === 0">
          No tags
        </div>

      </td>

      <td class="text-right">
        <a [routerLink]="['/admin/post/show', post.id]" class="text-white btn btn-warning btn-xs"><i
          class="fa fa-eye"></i></a>
      </td>

    </tr>
    </tbody>
  </table>

</div>
