<section>
  <div class="container-fluid">
    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="nmbottom">Category: <strong>{{ category?.title }}</strong></h3>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12">

        <app-show-category-posts [posts]="posts"></app-show-category-posts>

        <pagination-controls id="post-pagination" directionLinks="true"
                             autoHide="true"
                             previousLabel=""
                             nextLabel=""
                             (pageChange)="page = $event">
        </pagination-controls>

        <div class="clearfix mt-20"></div>

        <div class="npadding">
          <a (click)="backClicked()"
             class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
            <i class="fa fa-long-arrow-left"></i>
          </a>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>


  </div>
</section>
