

// About Module Styles
// //
#about-module {

}

// Service Module Styles
// //
#service-module {

  .service_block-cont {

    .service_block {

      a {
        color: $dark_gray-1;
        position: relative;
        width: 100%;
        height: 100%;

        &:after {
          content: '';
          position: absolute;
          top:auto;
          left: 50%;
          bottom: -10px;
          width: 0;
          height: 2px;
          transform: translateX(-50%);
          background-color: $dark_gray-1;
          transition: .4s all;

        }

        &:hover, &:focus, &:active {
          text-decoration: none;

          &:after {
            width: 100px;
          }
        }
      }

    }

  }

}


// Process Module Styles
// //
#process-module {
  .process-steps {
    position: relative;

    .process-line {
      width: 100%;
      height: 2px;
      //background-color: #ffffff;
      position: absolute;
      top:50%;
      padding-left: 15px;
      padding-right: 15px;
      left:0;
      transform: translateY(-50%);
      overflow: hidden;

      hr {
        border-width: 2px;
      }
    }

    .process-step {
      position: relative;
      display: inline-block;
      cursor: pointer;
      // margin-bottom: 40px;

      .process-ball {
        width: 35px;
        height: 35px;
        background-color: #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        border:5px solid $red;
        transition: .2s all linear;
        user-select:none;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform:translate(-50%,-50%);
          color:$red;
          font-weight: bold;
          font-size: 14px;
        }

        &:hover {
          border:3px solid $red;
        }

        &.active {
          background-color: $red;
          border:2px $white solid;

          span {
            color:white;
            font-size: 18px;
          }
        }
      }

      .process-content {
        transform: scale3d(.8,.8,.8);
        opacity: .7;
        transition: .4s all;
        filter:blur(2px);
        border:2px $white solid;
        padding:20px 15px;
        border-radius: 0px;

        h3 {

          hr {
            width: 50px;
            border-color: white;
            border-width:3px;
            margin:10px auto 12px;
          }
        }

        p {
          margin-bottom: 0;
          font-size: 16px;
        }

        @media only screen and (max-width: 767px) {
          display: none;
        }

        @media only screen and (min-width: 767px) {
          display: none;
        }

        @media only screen and (min-width: 992px) {
          display: inline-block;
        }

        @media only screen and (min-width: 1200px) {
          display: inline-block;
        }
      }
    }

    #process-step-1, #process-step-2, #process-step-3, #process-step-4 {
      @media only screen and (max-width: 767px) {
        display: none;
      }

      @media only screen and (min-width: 767px) {
        display: none;
      }

      @media only screen and (min-width: 992px) {
        display: inline-block;
      }

      @media only screen and (min-width: 1200px) {
        display: inline-block;
      }

      &.active {

        .process-content {
          transform: scale3d(1,1,1);
          filter:blur(0px);
          opacity: 1;
        }

        @media only screen and (max-width: 767px) {
          display: block;

          .process-content {
            display:block;
          }
        }

        @media only screen and (min-width: 767px) {
          display: block;

          .process-content {
            display:block;
          }
        }

        @media only screen and (min-width: 992px) {
          display: block;

          .process-content {
            display:inline-block;
          }
        }

        @media only screen and (min-width: 1200px) {
          display: block;

          .process-content {
            display:inline-block;
          }
        }

      }
    }
  }
}
