.parallax {
  cursor: pointer;

  @media only screen and (max-width: 767px) {
    min-height:300px;
    max-height:300px;
  }

  @media only screen and (min-width: 767px) {
    min-height:300px;
    max-height:300px;
  }

  @media only screen and (min-width: 992px) {
    min-height:500px;
    max-height:500px;
  }

  @media only screen and (min-width: 1200px) {
    min-height:500px;
    max-height:500px;
  }

  .parallax-content {


    .icon-svg {
      stroke: white;

      * {
        stroke: white;
      }

    }

    h3 {
      color:white;
      font-size:36px;

      span {
        display: block;
      }

      @media only screen and (max-width: 767px) {
        font-size: 24px;

        span {
          display: inline-block;
        }
      }
    }
  }

  .parallax-img-wrapper {
    img {
      //transition-delay: .5s;
    }
  }

  .parallax-overlay {
    background-color: $red;
    background: linear-gradient(110deg, $red 15%, $dark_gray-2 85%);
    opacity: .4;
  }

  &:hover {
    .parallax-overlay {
      opacity:.9;
    }

    .parallax-img-wrapper {
      img {
        transform: translate(-50%, -50%) scale(1.4);

        @media only screen and (max-width: 767px) {
          height: 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%) scale(1.3);
        }
      }
    }

    .icon-web {
      animation: draw 5s linear alternate infinite;
    }

    .icon-design {
      animation: draw 7s linear alternate infinite;
    }

    .icon-seo {
      animation: draw 5s linear alternate infinite;
    }

    .icon-email {
      animation: draw 5s linear alternate infinite;
    }

    .icon-hosting {
      animation: draw 10s linear alternate infinite;
    }
  }
}
