<section id="signup">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mx-auto">

        <h3 class="text-center mb-30">Sign Up</h3>

        <div class="row">
          <div class="col-sm-12">
            <app-error-messages></app-error-messages>
          </div>
        </div>

        <form (ngSubmit)="onSignup(f)" #f="ngForm" class="mt-10">
          <div class="form-group mb-20">
            <div class="row">
              <div class="col-sm-6">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" id="firstname" class="form-control" required ngModel>
              </div>

              <div class="col-sm-6">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" id="lastname" class="form-control" required ngModel>
              </div>
            </div>

          </div>

          <div class="form-group mb-20">
            <div class="row">
              <div class="col-sm-12">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" required ngModel>
              </div>
            </div>
          </div>

          <div class="form-group mb-20">
            <div class="row">
              <div class="col-sm-6">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required
                       [(ngModel)]="password">
              </div>

              <div class="col-sm-6">
                <label for="password_confirmation">Confirm Password</label>
                <div class="clearfix"></div>
                <input (ngModelChange)="passwordValidation($event)" type="password" name="password_confirmation"
                       id="password_confirmation" class="form-control" required [ngModel]="password_confirmation">
              </div>
            </div>

          </div>

          <div class="clearfix"></div>

          <div class="form-group mt-20">
            <div class="row">
              <div class="col-sm-12 text-center">
                <!--[disabled]="!f.valid"-->
                <button type="submit" class="btn btn-md btn-white-alt mb-20" [disabled]="!f.valid">
                  Signup
                </button>
              </div>
            </div>
          </div>


          <p class="text-center">
            Already have an account? <a [routerLink]="['/auth/signin']" class="">login here</a>.
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
