<app-breadcrumbs></app-breadcrumbs>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Category Archive: <span class="text-capitalize text-bold">{{ category }}</span></h2>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row mt-30">

      <div app-post-block
           class="col-md-4 col-sm-6"
           @showHide
           *ngFor="let post of posts | paginate: { id: 'blog-pagination', itemsPerPage: 10, currentPage: postPage }"
           [post]="post"></div>


      <div class="clearfix"></div>
    </div>

    <div class="row">

      <div class="col-sm-12 text-center">
        <pagination-controls id="blog-pagination" directionLinks="true"
                             autoHide="true"
                             previousLabel=""
                             nextLabel=""
                             (pageChange)="postPage = $event">
        </pagination-controls>
      </div>

    </div>
  </div>
</section>

<app-page-cta></app-page-cta>
