<app-breadcrumbs></app-breadcrumbs>

<section >
  <div class="container">
    <div class="row">
      <div class="col-sm-12" *ngIf="post">
        <h2>
          {{ post.title }}
        </h2>
        <h3 *ngIf="post.subtitle">
          {{ post.subtitle }}
        </h3>
        <div [innerHTML]="post.main_content"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <a (click)="backClicked()" class="btn btn-dark-gray-1 btn-sm">
          <i class="fa fa-long-arrow-left"></i> back
        </a>
      </div>
    </div>
  </div>
</section>

<app-page-cta>

</app-page-cta>
