#breadcrumbs-container {
  background-color: rgba($red, 1);

  .breadcrumbs-list {
    padding-top: 5px;
    padding-bottom: 7px;
    margin-bottom: 0;

    li {
      font-size: 14px;
      position: relative;
      color: white;
      min-width:0;
      padding-left: 0px;
      padding-right: 0;

      &:last-child {
        padding-left: 5px;

        &:after {
          display: none;
        }
      }

      a {
        color: $white;
        padding-right: 10px;
        font-weight: bold;
        //text-decoration: underline;

        &:after {
          content: '/';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-weight:normal;
        }
      }
    }
  }
}
