/* Button Colors --- This section will change depending on the site color scheme */

.btn_grad-blue-purple {
  background-color: $blue;
  background: linear-gradient(141deg, $blue, $purple);
  border-radius: 20px !important;
  color:$white;
  font-weight: bold;
  border:none;

  &:hover, &:active, &:focus {
    opacity: .8;
    color:$white;
  }

  &:active {
    background: linear-gradient(141deg, $blue, $purple);
  }
}

.btn_grad-red-orange {
  background-color: $red;
  background: linear-gradient(141deg, $red, $orange);
  border-radius: 20px !important;
  color:$white;
  font-weight: bold;
  border:none;

  &:hover, &:active, &:focus {
    opacity: .8;
    color:$white;
  }

  &:active {
    background: linear-gradient(141deg, $red, $orange);
  }
}

.btn-white {
  background-color:transparent;
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px white solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$white;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$dark_gray-1;

    &:after {
      left:0;
    }
  }
}

.btn-white-alt {
  background-color:$white;
  color:$dark_gray-1;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px white solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:transparent;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$white !important;
    background-color: transparent;

    &:after {
      left:0;
    }
  }
}

.btn-green {
  background-color:transparent;
  color:$green;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $green solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$green;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$white;

    &:after {
      left:0;
    }
  }
}

.btn-green-form {
  background-color:rgba($green, 1);
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $green solid;

  &:hover, &:active, &:focus {
    color:$white;
    background-color:rgba($green, .6);
  }
}

.btn-blue {
  background-color:transparent;
  color:$blue;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $blue solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$blue;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$white;

    &:after {
      left:0;
    }
  }
}

.btn-blue-alt {
  background-color:$blue;
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $blue solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$white;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$blue;

    &:after {
      left:0;
    }
  }
}

.btn-blue-form {
  background-color:rgba($blue, 1);
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $blue solid;

  &:hover, &:active, &:focus {
    color:$white;
    background-color:rgba($blue, .6);
  }
}

.btn-red {
  background-color:transparent;
  color:$red;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $red solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$red;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$white;

    &:after {
      left:0;
    }
  }
}

.btn-red-alt {
  background-color:$red;
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $red solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$white;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$red;

    &:after {
      left:0;
    }
  }
}

.btn-red-form {
  background-color:rgba($red, 1);
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $red solid;

  &:hover, &:active, &:focus {
    color:$white;
    background-color:rgba($red, .6);
  }
}

.btn-dark-gray-1 {
  background-color:transparent;
  color:$dark_gray-1;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $dark_gray-1 solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$dark_gray-1;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$white;

    &:after {
      left:0;
    }
  }
}

.btn-dark-gray-1-alt {
  background-color:$dark_gray-1;
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $dark_gray-1 solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$white;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$dark_gray-1;

    &:after {
      left:0;
    }
  }
}

.btn-dark-gray-1-form {
  background-color:rgba($dark-gray-1, 1);
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $dark-gray-1 solid;

  &:hover, &:active, &:focus {
    color:$white;
    background-color:rgba($dark-gray-1, .6);
  }
}

.btn-dark-gray-2 {
  background-color:transparent;
  color:$dark_gray-2;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $dark_gray-2 solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$dark_gray-2;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$white;

    &:after {
      left:0;
    }
  }
}

.btn-dark-gray-2-alt {
  background-color:$dark_gray-2;
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $dark_gray-2 solid;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color:$white;
    z-index: -1;
    transition:.4s ease-in-out;
  }

  &:hover, &:active, &:focus {
    color:$dark_gray-2;

    &:after {
      left:0;
    }
  }
}

.btn-dark-gray-2-form {
  background-color:rgba($dark-gray-2, 1);
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $dark-gray-2 solid;

  &:hover, &:active, &:focus {
    color:$white;
    background-color:rgba($dark-gray-2, .6);
  }
}

.btn-buttonface {
  border:buttonface solid 2px;
  background-color: buttonface;
  font-weight: bold;
  color:$dark_gray-1;

  &:hover, &:active, &:focus {
    color:white !important;
    background-color: $dark_gray-1;
    border-color: $dark_gray-1;
  }
}

.btn-mid-gray-2-form {
  background-color:rgba($mid-gray-2, 1);
  color:$white;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border:2px $dark-gray-2 solid;

  &:hover, &:active, &:focus {
    color:$white;
    background-color:rgba($mid-gray-2, .6);
  }
}

// BTN overrides

.btn-success {
  border-width: 2px;
  border-color: #5cb85c;
  font-weight: bold;
}

/* Button Sizes --- Adjust if Needed */

.btn {
  border-radius:20px;
  transition:.4s ease-in-out;
}

a.btn, button.btn {
  text-decoration: none !important;
}

.btn-xs {
  padding:4px 8px !important;
  font-size:10px;
}

.btn-sm {
  padding:5px 15px !important;
  font-size:13px;
}

.btn-md {
  padding:6px 18px !important;
  font-size:15px;
}

.btn-lg {
  padding:8px 20px !important;
  font-size:16px;
}

.btn-blank {
  appearance: none;
  background-color: transparent;
  border:none;
  box-shadow: none;
  font-weight: bold;
  padding-left:0px !important;
  padding-right: 0px !important;

  &:hover, &:active, &:focus {
    color:inherit;
    text-decoration: underline !important;
  }
}
