/*
///////////////////////////////////
////////// TEXT COLORS ////////////
///////////////////////////////////
*/

.text-black {color:$black !important;}
.text-white {color:$white !important;}
.text-light-gray {color:$light_gray !important;}

.text-mid-gray-1 {color: $mid_gray-1 !important;}
.text-mid-gray-2 {color: $mid_gray-2 !important;}

.text-dark-gray-1 {color: $dark_gray-1 !important;}

.hover-dark-gray-1 {
  &:hover {
    color:$dark_gray-1 !important;
  }
}

.text-dark-gray-2 {color: $dark_gray-2 !important;}
.hover-dark-gray-2 {
  &:hover {
    color:$dark_gray-2 !important;
  }
}

.text-green {color: $green !important;}
.text-red {color: $red !important;}
.text-blue {color: $blue !important;}

/*
///////////////////////////////////
////////// BG COLORS ////////////
///////////////////////////////////
*/

.bg-white {background-color:$white !important;}
.bg-black {background-color:$black !important;}
.bg-light-gray {background-color: $light_gray !important;
  form {
    .form-control {
      // background-color: $white;
    }

    .select2-selection--multiple {
      // background-color: $white !important;
    }
  }
}
.bg-mid-gray-1 {background-color: $mid_gray_1 !important;
  form {
    .form-control {
      background-color: $white;
    }

    .select2-selection--multiple {
      background-color: $white !important;
    }
  }
}

.bg-mid-gray-2 {background-color: $mid_gray_2 !important;
  form {
    .form-control {
      background-color: $white;
    }

    .select2-selection--multiple {
      background-color: $white !important;
    }
  }
}

.bg-dark-gray-1 {background-color: $dark_gray-1 !important;}
.bg-dark-gray-2 {background-color: $dark_gray-2 !important;}

.bg-green {background-color: $green !important;}
.bg-red {background-color: $red !important;}
.bg-blue {background-color: $blue !important;}

/*
///////////////////////////////////
////////// BORDER COLORS ////////////
///////////////////////////////////
*/

.bt-red {border-top: 2px solid $red !important;}
.bb-red {border-bottom: 2px solid $red !important;}
.bl-red {border-left: 2px solid $red !important;}
.br-red {border-right: 2px solid $red !important;}

.bt-blue {border-top: 2px solid $blue !important;}
.bb-blue {border-bottom: 2px solid $blue !important;}
.bl-blue {border-left: 2px solid $blue !important;}
.br-blue {border-right: 2px solid $blue !important;}

.bt-green {border-top: 2px solid $green !important;}
.bb-green {border-bottom: 2px solid $green !important;}
.bl-green {border-left: 2px solid $green !important;}
.br-green {border-right: 2px solid $green !important;}

.bt-light-gray {border-top: 2px solid $light-gray !important;}
.bb-light-gray {border-bottom: 2px solid $light-gray !important;}
.bl-light-gray {border-left: 2px solid $light-gray !important;}
.br-light-gray {border-right: 2px solid $light-gray !important;}

.bt-dark-gray-1 {border-top: 2px solid $dark-gray-1 !important;}
.bb-dark-gray-1 {border-bottom: 2px solid $dark-gray-1 !important;}
.bl-dark-gray-1 {border-left: 2px solid $dark-gray-1 !important;}
.br-dark-gray-1 {border-right: 2px solid $dark-gray-1 !important;}

.bc-dark-gray-1 {border-color: $dark_gray-1;}
.bc-dark-gray-2 {border-color: $dark_gray-2;}

.b1-mid-gray-1 {border:1px $mid_gray_1 solid;}
.b1-mid-gray-2 {border:1px $mid_gray_2 solid;}

/*
///////////////////////////////////
////////// OVERLAY COLORS ////////////
///////////////////////////////////
*/

.overlay-dg1 {
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba($dark_gray-1,.4);
}
