#loading-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($darkGray, 0.5);
  z-index: 9999;
  display: block;
  overflow: hidden;

  .loading-body {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100vh;

    .loading-content {
      padding: 20px;
      background-color: $red;
      border-radius: 10px;
      border:2px solid white;
      text-align: center;
      font-size: 20px;
      color:white;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
