ul.ngx-pagination {
  padding-left: 0;

  li {
    background-color: $lightGray;

    margin-right: 5px;
    display: inline-block;

    a {
      display: block;
      padding: 2px 10px;
    }

    &.current {
      padding: 0 0;
      margin-right: 8px;
      background-color: $red;
      font-weight: bold;

      div {
        padding:2px 10px;
        //color:$darkGray;

      }
    }

    &.pagination-previous {


      a:before {
        margin-left: 0;
        margin-right: 0;
      }

      &.disabled {
        padding: 2px 10px;

        &:before {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }

    &.pagination-next {
      a:after {
        margin-right: 0;
        margin-left:0;
      }

      &.disabled {
        padding: 2px 10px;

        &:after {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}
