/*
////////////////////////////////////////
////////// PARALLAX BG /////////////////
////////////////////////////////////////
*/

.parallax {
  min-height: 300px;
  max-height: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;

  .parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 10;
  }

  .parallax-overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($dark_gray-1, .8);
    z-index: 6;
    transition: .4s all;
  }

  .parallax-img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;

    img {
      position: absolute;
      width: 100%;
      height: auto;
      left: 50%;
      //top: -100px;
      //transform: translateX(-50%) scale(1.2);
      top: 50%;
      transform: translate(-50%, -50%) scale(1.3);
      transition: .4s all;

      @media only screen and (max-width: 767px) {
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(1.3);
      }
    }
  }

  &:hover {
    .parallax-content {

    }

    .parallax-overlay {
      background-color: rgba($dark_gray-1, .4);
    }
  }
}

.parallax-sm {
  height: 350px;
  @media only screen and (max-width: 767px) {
    height: 250px;
  }
}

.parallax-md {
  height:450px;
  @media only screen and (max-width: 767px) {
    height: 350px;
  }
}

.parallax-lg {
  height: 500px;
  @media only screen and (max-width: 767px) {
    height: 400px;
  }
}
