<app-loading></app-loading>

<section *ngIf="user">
  <div class="container-fluid">
    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="mb-20">Edit User</h3>
        <p>Edit user details here.</p>
      </div>
    </div>

    <div class="clearfix mb-30"></div>

    <div class="row">
      <form #f="ngForm" (ngSubmit)="onUpdate(f)" class="form-horizontal">
        <div class="col-sm-12">
          <app-error-messages></app-error-messages>
        </div>

        <div class="col-sm-6">
          <div class="card bg-light-gray">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <label for="firstname">First Name:</label>
                </div>

                <div class="col-sm-8">
                  <input [(ngModel)]="user.firstname" required id="firstname" class="form-control" type="text"
                         name="firstname">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <label for="lastname">Last Name:</label>
                </div>

                <div class="col-sm-8">
                  <input [(ngModel)]="user.lastname" required id="lastname" class="form-control" type="text"
                         name="lastname">
                </div>
              </div>
            </div>

            <div class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-4">
                  <label for="email">Email:</label>
                </div>

                <div class="col-sm-8">
                  <input [(ngModel)]="user.email" required id="email" class="form-control" type="email" name="email">
                </div>
              </div>
            </div>

          </div>

          <div class="">
            <a [routerLink]="['/admin/users']"
               class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
              <i class="fa fa-long-arrow-left"></i>
            </a>

          </div>

        </div>

        <div class="col-sm-6">

          <div class="card bg-light-gray">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <label for="role">Role:</label>
                  <a (click)="showInput($event, 'role')" class="text-dark-gray"><i class="fa fa-pencil ml-10"></i></a>
                </div>

                <div class="col-sm-8">
                  <select required name="user_type" id="role" class="form-control"
                          [disabled]="disabledRole"
                          [ngModel]="defaultRole">
                    <option *ngFor="let role of roles" [value]="role.name">
                      {{ role.display_name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <label for="password">New Password:</label>
                  <a (click)="showInput($event, 'password')" class="text-dark-gray"><i
                    class="fa fa-pencil ml-10"></i></a>
                </div>

                <div class="col-sm-8">
                  <input type="password" name="password" id="password" class="form-control" required
                         [(ngModel)]="password" [disabled]="disabledPassword">
                </div>
              </div>
            </div>

            <div id="password-cont" class="form-group d-none">
              <div class="row">
                <div class="col-sm-4">
                  <label for="password_confirmation">Confirm Password:</label>
                </div>

                <div class="col-sm-8">
                  <!--<input ngModel id="password_confirmation" class="form-control" type="password"  name="password_confirmation" [disabled]="disabledConfirmation">-->
                  <input (ngModelChange)="passwordValidation($event)" type="password" name="password_confirmation"
                         id="password_confirmation" class="form-control" required [ngModel]="password_confirmation"
                         [disabled]="disabledConfirmation">
                </div>
              </div>
            </div>

          </div>

          <div class="">

            <button class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light float-right"
                    type="submit"
                    [disabled]="!f.valid">
              Submit
            </button>

          </div>

        </div>


      </form>
    </div>
  </div>
</section>
