<!--Overrides for Select2 Styles-->
<style>
  .select2-container--classic .select2-results__option[aria-selected=true] {
    background-color: #EEEEEE;
  }

  .select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #2196F3;
  }

  .select2-container--classic .select2-results__option--highlighted[aria-selected=true] {
    background-color: #2196F3;
  }
</style>
<!--End of Overrides for Select2 Styles-->

<section>
  <div class="container-fluid">
    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="mb-20">Create User</h3>
        <p>Create new user here.</p>
      </div>
    </div>

    <div class="clearfix mb-30"></div>

    <div class="row">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
        <div class="col-sm-12">
          <app-error-messages></app-error-messages>
        </div>

        <div class="col-sm-6">
          <div class="card bg-light-gray">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <label for="firstname">First Name:</label>
                </div>

                <div class="col-sm-8">
                  <input ngModel required id="firstname" class="form-control" type="text" name="firstname">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <label for="lastname">Last Name:</label>
                </div>

                <div class="col-sm-8">
                  <input ngModel required id="lastname" class="form-control" type="text" name="lastname">
                </div>
              </div>
            </div>

            <div class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-4">
                  <label for="email">Email:</label>
                </div>

                <div class="col-sm-8">
                  <input ngModel required id="email" class="form-control" type="email" name="email">
                </div>
              </div>
            </div>

          </div>

          <div class="d-none d-sm-block">
            <a [routerLink]="['/admin/users']"
               class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
              <i class="fa fa-long-arrow-left"></i>
            </a>
          </div>

        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-sm-6">
          <div class="card bg-light-gray">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <label for="role">Role:</label>

                </div>

                <div class="col-sm-8">
                  <select required name="role" id="role" class="form-control" [ngModel]="defaultRole">
                    <option *ngFor="let role of roles" [value]="role.name">
                      {{ role.display_name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group mb-20">

              <div class="row">
                <div class="col-sm-4">
                  <label for="password">Password:</label>
                </div>

                <div class="col-sm-8">
                  <input type="password" name="password" id="password" class="form-control" required
                         [(ngModel)]="password">
                </div>
              </div>
            </div>


            <div id="password-cont" class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-4">
                  <label for="password_confirmation">Confirm Password:</label>
                </div>

                <div class="col-sm-8">
                  <input (ngModelChange)="passwordValidation($event)" type="password" name="password_confirmation"
                         id="password_confirmation" class="form-control" required ngModel
                         [disabled]="disabledConfirmation">
                </div>
              </div>
            </div>

          </div>

          <div>

            <a [routerLink]="['/admin/users']"
               class="visible-xs btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
              <i class="fa fa-long-arrow-left"></i>
            </a>

            <button class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light float-right"
                    [disabled]="!f.valid"
                    type="submit">
              Submit
            </button>
          </div>
        </div>


      </form>
    </div>
  </div>
</section>
