<section class="bg-white">
  <div class="container-fluid">
    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="mb-20">All Users</h3>
        <p class="mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi debitis doloribus
          dolorum, ea enim et
          expedita illo impedit, ipsum magni molestias natus officiis porro, quos reprehenderit voluptas voluptatibus!
          Officiis.</p>

      </div>

      <div class="col-sm-4 text-right xs-text-left">


        <a routerLink="/admin/user/create"
           class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light">
          <i class="fa fa-plus mr-10"></i> create user
        </a>
      </div>
    </div>
  </div>
</section>

<app-error-messages></app-error-messages>

<section class="bg-light-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-default bg-white nmbottom">

          <div class="card-header bg-white">
            <p class="nmbottom small">
              Users: {{ userCount }}
            </p>
          </div>

          <div class="card-body user_fb-container pt-15">
            <div *ngIf="users?.length === 0">
              <p>
                No Users! <a routerLink="/admin/post/create">Create your first post</a>
              </p>
            </div>

            <div class="row" *ngIf="users?.length !== 0">
              <div app-user
                   @showHide
                   class="col-lg-4 col-md-6"
                   *ngFor="let user of users | paginate: { id: 'user-pagination', itemsPerPage: 9, currentPage: page }"
                   [user]="user">

              </div>
            </div>
          </div>

          <div *ngIf="userCount > 9" class="card-footer bg-white">
            <pagination-controls id="user-pagination" directionLinks="true"
                                 autoHide="true"
                                 previousLabel=""
                                 nextLabel=""
                                 (pageChange)="page = $event">
            </pagination-controls>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
