<div class="user_fb">
  <!--[ngClass]="user.active === '1' ? 'bb-success' : 'bb-red'"-->

  <div class="user_fb-image" [routerLink]="['/admin/user/edit', user.id]">
    <img [src]="userImage" alt="profile image" width="20" height="20">
  </div>

  <div class="user_fb-details">
    <div class="user_fb-content">
      <h3>
        <a *ngIf="!editing" [routerLink]="['/admin/user/edit', user.id]">
          {{ user.firstname + ' ' + user.lastname }}
        </a>

        <input *ngIf="editing" type="text" name="editFirstName" [(ngModel)]="editFirstName">
        <input *ngIf="editing" type="text" name="editLastName" [(ngModel)]="editLastName">
      </h3>
      <p *ngIf="!editing" class="text-capitalize small nmbottom">
        Role: {{ role.name }}
      </p>
      <p *ngIf="!editing" class="text-capitalize small nmtop">
        Status:
        <span *ngIf="user.active === '1'" style="display: inline-block;">Active</span>
        <span *ngIf="user.active === '0'" style="display: inline-block;">Inactive</span>
      </p>
    </div>
  </div>

  <div class="user_fb-status">
    <ul class="list-inline">
      <li *ngIf="!editing" (click)="onEdit()" class="list-inline-item">
        <i class="fa fa-pencil"></i>
      </li>

      <li *ngIf="!editing" (click)="toggleActive()" [ngClass]="user.active === '0' ? 'bg-success' : 'bg-red'"
          class="ml-5 list-inline-item">
        <i *ngIf="user.active === '0'" class="fa fa-check"></i>
        <i *ngIf="user.active === '1'" class="fa fa-times"></i>
      </li>

      <li *ngIf="editing" class="bg-success list-inline-item" (click)="onUpdate()">
        <i class="fa fa-save"></i>
      </li>

      <li *ngIf="editing" class="bg-warning list-inline-item" (click)="onCancel()">
        <i class="fa fa-times"></i>
      </li>


    </ul>
  </div>
</div>
