.cover-image-container {
  width: 100%;
  height: 350px;
  background-color: $lightGray;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba($dark_gray-1, 0.12), 0 1px 2px rgba($dark_gray-1, 0.24);
  transition: .4s all;

  * {
    z-index: 10;
  }

  #remove_cover_image {
    position: absolute;
    font-size: 18px;
    top: 20px;
    right: 20px;
    background-color: $red;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    text-align: center;
    border-radius: 50%;
    z-index:20;

    i {
      color:white;
    }
  }

  #coverPreview {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
  }

  #cover_input-label {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:20px;
    text-align: center;
  }

  .file_input_wrap  {
    height: 100%;

    label {
      width: 100%;
      height: 100%;
    }

    input[type=file] {
      display:none;
      margin:10px;

      & + label {
        display:inline-block;
        background-color: transparent;
      }

      &:active {
        & + label {
          background-image: none;
          background-color:#2D6C7A;
          color:#FFFFFF;
        }
      }
    }
  }

}

.logo-image-container {
  width: 285px;
  height: 200px;
  background-color: $lightGray;
  position: relative;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  border:3px solid white;
  box-shadow: 0 2px 6px rgba($dark_gray-1, 0.16), 0 1px 6px rgba($dark_gray-1, 0.23);
  z-index:11;

  * {
    z-index: 10;
  }

  #remove_logo_image {
    position: absolute;
    font-size: 13px;
    top: 10px;
    right: 10px;
    background-color: $red;
    width: 20px;
    height: 20px;
    padding-top: 0;
    text-align: center;
    border-radius: 50%;
    z-index:20;

    i {
      color:white;
    }
  }

  #logoPreview {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
  }

  #logo_input-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:26px;
    color:$dark_gray-1;
    text-align: center;
  }

  .file_input_wrap  {
    height: 100%;

    label {
      width: 100%;
      height: 100%;
    }

    input[type=file] {
      display:none;
      margin:10px;

      & + label {
        display:inline-block;
        background-color: transparent;
      }
    }
  }
}

#project-content {
  position: relative;
  top: -70px;

  .form-control {
    //height:auto;
    border-radius: 0;
    border:none;
    box-shadow: none;
    padding-bottom: 10px;
    border-bottom:1px solid $lightGray;
  }

  .card {
    background-color: $lightGray;

    .form-control {
      height: 34px;
      text-align: left;
    }
  }

  input {
    text-align: center;

    &[name=title] {
      font-weight: bold;
      font-size: 28px;
      padding-top: 0;
    }

    &[name=subtitle] {
      margin-top: 10px;
      font-size: 20px;
      border-bottom:none;
    }

    &[name=slug] {
      margin-left: 5px;
      border: 1px #CCC solid !important;
      border-radius: 3px;
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: left !important;
      min-width: 10px;
      width:auto;
    }

    &[name=website_url] {
      text-align: right !important;
      padding-bottom: 6px;
    }
  }

  #slug-preview {
    color:$dark_gray-1;
    font-size:14px;
  }
}


// // // // // // // // //
/// All Projects Page ///
// // // // // // // //

.project_fb-container {

  .project_fb {
    background-color: $light_gray;
    border: $lightGray 1px solid;
    //border-bottom: 2px $dark_gray-2 solid;
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;

    .project_fb-cover-image {
      height: 200px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      background: url("../img/small_steps.png") repeat;

      .project_fb-image--overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($mid_gray_1, .2);
        z-index: 1;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transition: .4s all;
        transform: translate(-50%, -50%) scale(1.2);
        z-index: 1;
      }

      &:hover {

        img {
          transform: translate(-50%, -50%) scale(1.3);
        }

      }
    }

    .project_fb-logo {
      position: relative;
      float: left;
      width: 150px;
      height: 106px;
      max-height: 60px;

      img {
        position: absolute;
        width: 100%;
        max-width: 150px;
        top: -50px;
        left: 15px;
        background: $lightGray;
        border-radius: 3px;
        border:3px solid white;
        box-shadow: 0 2px 6px rgba($dark_gray-1, 0.16), 0 1px 6px rgba($dark_gray-1, 0.23);
        z-index: 10;
      }

      @media only screen and (max-width: 767px) {
        width: 100%;
        float: none;
        max-height: 90px;

        img {
          top: -50px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .project_fb-actions {
      padding: 0 15px;
      position: relative;
      float: right;
      width: 150px;
      top: -15px;
      margin-bottom: 25px;
      z-index: 10;

      ul {
        position: absolute;
        right: 15px;

        li {
          width: 30px;
          height: 30px;
          background-color: $white;
          border-radius: 50%;
          position: relative;
          box-shadow: 0 1px 3px rgba($dark_gray-1, 0.12), 0 1px 2px rgba($dark_gray-1, 0.24);
          transition: .4s all;
          cursor: pointer;

          i {
            font-size: 14px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &.bg-green {
            background-color: $green;
            color: white;
          }

          &.bg-red {
            background-color: $red;
            color: white;
          }

          &.hover {

            &:hover {
              background-color: rgba($orange, 1);
              color:white;
            }

          }
        }
      }

      @media only screen and (max-width: 767px) {
        top: -5px;
        left: 50%;
        float: none;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;

        ul {
          right: auto;
          left: 50%;
          transform: translateX(-50%);
          margin-left: 0;
        }
      }
    }

    .project_fb-details {
      padding: 0 15px;
      height: 80px;
      position: relative;

      h3 {
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        color: $dark_gray-1;
        margin-bottom: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding-left: 20px;
        line-height: 1.3;

        a {
          color: $dark_gray-1;
        }
      }

      @media only screen and (max-width: 767px) {
        height: 100px;

        h3 {
          width: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding-left: 0;
        }
      }
    }

    .project_fb-services {
      padding: 0 15px 20px;
      height: 110px;
      position: relative;
      background-color: rgba($mid_gray_1, .08);

      ul {
        position: absolute;
        width: 95%;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        margin-bottom: 0;
        padding-left: 20px;

        li {
          font-size: 13px;
          float: left;
          width: 50%;
        }
      }
    }

    .project_fb-footer {
      padding: 10px 15px;
      background-color: rgba($mid_gray_1, .05);

      p {
        font-size: 12px;
        margin-bottom: 0;
        line-height: 1.5;

        span {
          display: inline-block;
        }
      }
    }
  }
}

