header#admin-header {
  position: relative;
  width: 100%;
  background-color: rgba($red, 1);
  //box-shadow: 0 2px 5px rgba(0,0,0,.26);
  min-height:60px;
  z-index:9;
  transition: .4s all;
  transition-delay: .1s;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);

  &.active {
    padding-left: 280px;
    transition-delay: 0s;

    @media only screen and (max-width: 767px) {
      padding-left: 0;
    }
  }

  a.navbar-brand {
    height: auto;
    display: block;
    padding: 20px 0;
    color: white;
    //margin-left: 60px;
    margin-left: 45px;

    h1 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: bold;
      line-height: 1;
    }
  }

  a#nav-toggle {
    position: absolute;
    display: block;
    width: 22px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s all;

    span {
      display: block;
      height: 2px;
      width: 22px;
      background-color: white;
      position: absolute;
      transition: .4s all;
    }

    span:nth-of-type(1) {
      top: 0;
    }

    span:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    span:nth-of-type(3) {
      top: auto;
      bottom:0;
    }

    &.active {
      span:nth-of-type(1) {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }

      span:nth-of-type(2) {
        opacity: 0;
      }

      span:nth-of-type(3) {
        top: 50%;
        right: -1px;
        transform: rotate(-45deg) translateY(-50%);
      }
    }
  }

  nav {
    width: 100%;

    ul.nav {
      text-align: right;
      margin-top: 0px;

      li {
        position: relative;
        float: right;
        padding: 0;
        margin: 0;

        a {
          padding: 20px 10px;
          color:white;
          position: relative;
          overflow: hidden;
          font-size: 14px;

          i {
            //position: absolute;
            //top: 50%;
            //left: 50%;
            //transform: translate(-50%,-50%);
            ////margin-top: 5px;
          }

          &:hover {
            text-decoration: none;
            background-color: transparent;
          }
        }
      }
    }
  }
}
