main#admin-main {
  transition: .4s all;
  transform-style: preserve-3d;
  transition-delay: .1s;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);

  &.active {
    //padding-left: 280px;
    padding-left: 0;
    transition-delay: 0s;

    @media only screen and (max-width: 767px) {
      padding-left: 0;
    }
  }

  section {
    padding:30px 0;
    background-color: white;
  }
}

.card {
  border:none;
  border-radius: 0 !important;
  box-shadow: 0 1px 3px rgba($dark_gray-1, 0.12), 0 1px 2px rgba($dark_gray-1, 0.24);

  &.card-default {

    .card-header {
      padding: 20px 30px;
      border-color: $lightGray;
      color:$mid_gray_1;

      p {
        font-size: 14px;

        i {
          font-size: 16px;
        }
      }
    }

    .card-body {
      padding: 5px 0 0;
    }

    .card-footer {
      padding: 20px 30px;
      border-color: $lightGray;
    }

  }

}
