header#side_nav-container {
  left: -280px;
  width: 280px;
  height: 100%;
  background-color: white;
  position: fixed;
  transition: .4s all;
  transform-style: preserve-3d;
  transition-delay: .1s;
  transition-duration: .2s;
  //transition-property: transform,left;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  //padding: 20px 0;
  border-right: 1px solid rgba(0, 0, 0, .14);
  z-index: 11;
  overflow-y: scroll;

  &.active {
    left: 0;
    transition-delay: 0s;
    transition: 0.2s;
    box-shadow: 2px 0px 5px 0px rgba($dark_gray-2, 0.6);
  }

  .side_nav-brand {
    cursor: pointer;
    height: 61px;
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    //border-bottom: 1px solid rgba(0,0,0,.14);
    //background-color: $red;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    padding-top: 10px;
    background-color: rgba($red, 1);
    padding-left: 15px;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      width: auto;
      height: 30px;
      margin-right: 10px;

      .logo-symbol {
        stroke: white;
        stroke-width: 9px;
      }
    }

    h2 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 55px;
      font-size: 14px;
      text-align: left;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      margin: 0;
    }
  }

  .user_profile {
    width: 100%;
    height: 80px;
    position: relative;
    float: left;
    cursor: pointer;
    background-color: $white;
    border-bottom: 1px solid rgba(0, 0, 0, .14);

    .user_profile-image {
      margin: 0;
      background-color: $white;
      text-align: center;
      width: 40px;
      height: 40px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      float: left;
      margin-left: 15px;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }

    .user_profile-details {
      position: relative;
      float: left;
      width: 200px;
      margin-left: 10px;
      margin-top: 4px;
      top: 50%;
      transform: translateY(-50%);

      h3 {
        text-align: left;
        font-size: 14px;
        margin-bottom: 0;
        color: $mid_gray_1;
        margin-top: 0;
      }

      h5 {
        text-align: left;
        font-size: 12px;
        margin-top: 7px;
        color: $mid_gray_1;
        text-transform: capitalize;
      }
    }
  }

  nav#side_nav {
    //padding: 20px 0;
    list-style-type: none;
    position: relative;

    dl {
      dt {
        font-size: 14px;
        list-style-type: none;
        cursor: pointer;
        //text-transform: uppercase;
        font-weight: normal;
        transition: .3s all;

        &[aria-expanded="true"] {
          i {
            transform: rotate(90deg);
          }
        }

        &[aria-expanded="false"] {
          i {
            transform: rotate(0deg);
          }
        }

        a {
          color: $mid_gray_1;
          //color:$dark_gray-2;
          display: block;
          width: 100%;
          padding: 12px 20px;
          text-decoration: none !important;

          &:hover {
            text-decoration: none;
          }
        }

        i {
          float: right;
          font-size: 18px;
          transition: .2s;
        }

        span.fa {
          width: 22px;
          font-size: 14px;
        }

        &.active {
          background-color: $lightGray;
        }

        &:hover {
          background-color: $lightGray;
        }
      }

      .drop_list {
        //background-color: $lightGray;
        border-top: 1px solid rgba($lightGray, 1);

        dd {
          font-size: 14px;
          margin-bottom: 0;

          a {
            padding: 10px 35px;
            display: block;
            width: 100%;
            color: $darkGray;
            border-bottom: 1px solid rgba($lightGray, 1);

            &:hover {
              background-color: $adminPrimary;
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
  }
}

#page-overlay {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  background-color: rgba(#FFF, 1);
  opacity: 0;
  transition: .4s opacity;
  cursor: pointer;

  &.active {
    left: 0;
    opacity: .2;
    transition-delay: .4s;
    transition: 0.4s opacity;

    &:hover {
      opacity: 0.1;
    }
  }
}
