.well {
  border: none;
  box-shadow: none;
  //padding-left: 0;
  //padding-right: 0;
}

#errors {
  padding-left: 0px;
  list-style-type: none;
}

table {
  font-size:14px;

  th {
    border-top: none;
  }
}

td {
  .label {
    margin-right: 5px;

    &:last-child {
      margin-right: 0 !important;
    }
  }
}
