<section>
  <div class="container-fluid">

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">

      <div class="row">
        <div class="col-sm-5">

          <h3 class="mb-20">Create Service</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi debitis doloribus dolorum, ea enim
            et
            expedita illo impedit, ipsum magni molestias natus officiis porro, quos reprehenderit voluptas voluptatibus!
            Officiis.</p>

          <div class="card bg-light-gray mt-20 pb-10 pt-20">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label for="title">Title:</label>
                </div>

                <div class="col-sm-9">
                  <input required [(ngModel)]="title" id="title" class="form-control" type="text" name="title"
                         [value]="title"
                         (input)="title = $event.target.value">
                </div>
              </div>
            </div>

            <div class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-3">
                  <label>Slug:</label>
                </div>

                <div class="col-sm-9">
                  <p id="slug_preview" class="pt-5">
                    {{ title | slugify }}
                  </p>
                </div>
              </div>
            </div>


          </div>

          <div class="npadding mt-20">
            <a [routerLink]="['/admin']"
               class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
              <i class="fa fa-long-arrow-left"></i>
            </a>


            <button class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light float-right"
                    type="submit"
                    [disabled]="!f.valid">
              Submit
            </button>
            <div class="clearfix mb-30"></div>
          </div>

        </div>

        <div class="col-sm-7">
          <app-error-messages></app-error-messages>

          <p *ngIf="services?.length === 0">
            You have not created any services.

            <span class="clearfix"></span>
          </p>

          <div *ngIf="services?.length !== 0" class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <!--<th>ID</th>-->
                <th>Title</th>
                <th>Slug</th>
                <th class="text-center">Projects</th>
                <th style="width: 120px;"></th>
              </tr>

              </thead>
              <tbody>
              <tr
                app-service
                @showHide
                *ngFor="let service of services  | paginate: { id: 'service-pagination', itemsPerPage: 10, currentPage: page }"
                [service]="service" (serviceDeleted)="onDeleted($event)">
              </tr>
              </tbody>

            </table>
          </div>

          <pagination-controls id="service-pagination" directionLinks="true"
                               autoHide="true"
                               previousLabel=""
                               nextLabel=""
                               (pageChange)="page = $event">
          </pagination-controls>
        </div>
      </div>

    </form>

  </div>
</section>
