<div class="clearfix"></div>

<p *ngIf="projects?.length === 0">
  There are no projects associated with this Service.
</p>

<div class="clearfix"></div>

<div *ngIf="projects?.length !== 0" class="table-responsive">

  <div class="clearfix"></div>

  <table class="table table-striped">
    <thead>
    <tr>
      <!--<th>ID</th>-->
      <th>Title</th>
      <th>Slug</th>
      <th>Author</th>
      <th>Status</th>
      <th class="text-center" style="width: 250px;">Tags</th>
      <th style="width: 120px;"></th>
    </tr>

    </thead>
    <tbody>
    <tr
      @showHide
      *ngFor="let project of projects | paginate: { id: 'projects-pagination', itemsPerPage: 10, currentPage: projectPage }">

      <td class="text-capitalize">
        <a [routerLink]="['/admin/project/edit', project.id]">
          {{ project.title }}
        </a>
      </td>

      <td>
        {{ project.slug }}
      </td>

      <td>
        {{ project.user.firstname + ' ' + project.user.lastname }}
      </td>

      <td class="text-capitalize">
        {{ project.status }}
      </td>

      <td class="text-center">

        <div *ngIf="project.tags.length > 0">
          <button *ngFor="let tag of project.tags"
                  class="badge badge-primary mr-5 small"
                  [routerLink]="['/admin/tag/show', tag.id]">
                    <span>
                      {{ tag.title }}
                    </span>
          </button>
        </div>

        <div *ngIf="project.tags.length === 0">
          No tags
        </div>

      </td>

      <td class="text-right">
        <a [routerLink]="['/admin/project/show', project.id]" class="text-white btn btn-warning btn-xs">
          <i class="fa fa-eye"></i>
        </a>
      </td>

    </tr>
    </tbody>
  </table>

</div>
