<div id="page">
  <app-nav></app-nav>

  <div id="push-wrapper">
    <app-header></app-header>

    <main id="main" class="ie8-hide" role="main">
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">

              <h1>404 Error</h1>
              <h3>{{errorMessage}}</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cupiditate eos eveniet excepturi in
                laboriosam nam ratione sed tempore veniam? Ad aliquid aperiam dolore incidunt iste, nesciunt rerum sit
                vitae!</p>

            </div>
          </div>
        </div>
      </section>

      <app-page-cta></app-page-cta>

    </main>
    <app-footer></app-footer>
  </div>
</div>
