<app-loading></app-loading>

<div id="auth">
  <main id="auth-main" class="ie8-hide" role="main">

    <div class="close-auth">
      <a (click)="closeClicked()">
        <img src="../../../dist/img/close-alt.png" alt="Close Image" width="30" height="30">
      </a>
    </div>

    <router-outlet></router-outlet>

  </main>
</div>
