<div id="newRoleCont">
  <div class="card bg-light-gray pt-5 pb-15">
    <!--<h3 class="mb-20">-->
      <!--Create New Role-->
    <!--</h3>-->

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal" enctype="multipart/form-data">

      <div class="form-group nmbottom">
        <div class="col-lg-12 mb-20">
          <label for="display_name">Role Name:</label>
          <input required [(ngModel)]="display_name" id="display_name"
                 class="form-control" type="text" name="display_name"
                 [value]="display_name"
                 (input)="display_name = $event.target.value">
        </div>

        <!--<div class="col-lg-6 mb-20">-->
        <!--<label for="description">Description:</label>-->
        <!--<textarea type="text"-->
        <!--name="description"-->
        <!--rows="2"-->
        <!--id="description"-->
        <!--class="form-control"-->
        <!--style="resize: none;"-->
        <!--ngModel>-->
        <!--</textarea>-->
        <!--</div>-->

        <div class="clearfix"></div>

        <div class="col-sm-12">
          <label>Permissions:</label>
          <div class="clearfix"></div>
          <label *ngFor="let permission of permissions" class="checkbox-inline nmleft mr-10 mb-10" style="width: 45%">
            <input type="checkbox"
                   required
                   (change)="onCheckboxChange($event, permission.id)"
                   id="checkbox_{{permission.name}}"
                   [value]="permission.id">
            {{ permission.display_name }}
          </label>
        </div>

        <div class="clearfix mb-20"></div>

        <div class="col-sm-12">
          <button type="submit"
                  [disabled]="!f.valid"
                  class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light">
            Submit
          </button>
        </div>

      </div>

    </form>
  </div>
</div>
