<td>
  {{ role.display_name }}
  <span class="display-block">({{ role.name }})</span>
</td>

<td id="{{ role.id + '_checkboxCont' }}">
  <label *ngFor="let permission of allPermissions"
         style="width: 150px; font-size: 12px;"
         class="checkbox-inline nmleft mr-10">
    <input type="checkbox"
           disabled
           (change)="onCheckboxChange($event, permission.id)"
           id="checkbox_{{ permission.name + '_' + role.id }}"
           [value]="permission.id">
    {{ permission.display_name }}
  </label>
</td>

<td class="text-right">

  <div *ngIf="!editing">
    <a (click)="onEdit()" class="btn btn-sm btn-primary text-white">
      <i class="fa fa-pencil"></i>
    </a>
  </div>

  <div *ngIf="editing">
    <a (click)="onUpdate()" class="btn btn-sm btn-success text-white">
      <i class="fa fa-save"></i>
    </a>
  </div>

</td>
