<section>
  <div class="container-fluid">
    <div class="row mt-10">
      <div class="col-md-5 col-sm-12">
        <h3 class="mb-20">Roles &amp; Permissions</h3>
        <p>Here you can create/edit roles and permissions.</p>

        <div class="clearfix mb-10"></div>



        <!--<a class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light mb-20"-->
        <!--type="button" data-toggle="collapse" data-target="#newPermissionCont" aria-expanded="false"-->
        <!--aria-controls="newPermissionCont">-->
        <!--<i class="fa fa-plus mr-5"></i> Create New Permission-->
        <!--</a>-->

        <button type="button" class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light mr-10 mb-20" (click)="isCollapsedRole = !isCollapsedRole"
                [attr.aria-expanded]="!isCollapsedRole" aria-controls="collapseNewRole">
          <i class="fa fa-plus mr-5"></i> Create New Role
        </button>

        <!--<button type="button" class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light mr-10 mb-20" (click)="isCollapsedPerm = !isCollapsedPerm"-->
                <!--[attr.aria-expanded]="!isCollapsedPerm" aria-controls="collapseNewPerm">-->
          <!--<i class="fa fa-plus mr-5"></i> Create New Permission-->
        <!--</button>-->

        <div class="clearfix"></div>

        <div id="collapseNewRole" [ngbCollapse]="isCollapsedRole" class="">
          <app-new-role></app-new-role>
        </div>

        <!--<div class="clearfix"></div>-->

        <!--<div id="collapseNewPerm" [ngbCollapse]="isCollapsedPerm" class="">-->
          <!--<app-new-permission></app-new-permission>-->
        <!--</div>-->

      </div>

      <div class="col-md-7 col-sm-12">
        <app-error-messages></app-error-messages>

        <div class="table-responsive">

          <table class="table table-striped">
            <thead>
            <tr>
              <th style="width: 150px;">Role Name</th>
              <th>Permissions</th>
              <th style="width: 50px"></th>
            </tr>
            </thead>

            <tbody>
            <tr
              app-role
              @showHide
              *ngFor="let role of roles"
              [role]="role"></tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</section>
