<app-loading></app-loading>

<footer class="ie8-hide" role="contentinfo">
  <div class="footer-top">
    <div class="module-wrapper">
      <div class="footer-about">
        <h5>About Pixel Twist</h5>
        <p>
          We are a young and vibrant Web Design, Development and Graphic Design company. We offer fully bespoke, intuitive websites, and graphical art that not only look great, but also work great.
        </p>
        <a routerLink="/about" class="btn btn-sm btn-white mt-10 mb-20">Read More &raquo;</a>
      </div>

      <div class="footer-contact">
        <div class="row">
          <div class="col-sm-6">
            <h5>Services</h5>
            <ul class="nmbottom">
              <li><a routerLink="/services/web-development" class="">Web&nbsp;Development</a></li>
              <li><a routerLink="/services/graphic-design" class="">Grpahic&nbsp;Design</a></li>
              <li><a routerLink="/services/search-engine-optimisation" class="">S.E.O</a></li>
              <li><a routerLink="/services/hosting" class="">Hosting</a></li>
            </ul>

            <hr class="visible-xs mb-30">
          </div>



          <div class="col-sm-6">
            <h5>Contact</h5>
            <address class="">
              1 Besant Place, East Dulwich,
              <br>London, SE22 8DA
            </address>
            <p class="nmbottom">
              <strong class="text-red">E:</strong> info@pixel-twist.com
            </p>
            <p>
              <strong class="text-red">T:</strong> 07867 484 395
            </p>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-12">
            <hr>
            <h6 class="nmbottom">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				    	 viewBox="0 0 187.634 289.066" enable-background="new 0 0 187.634 289.066" xml:space="preserve">
					    <path class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" d="M147.077,120.983"/>
					    <polygon class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" points="6.901,71.381 41.601,157.681 1.401,210.181
					    	102.401,287.681 183.601,187.981 170.401,146.781 186.501,111.081 185.538,109.551 117.401,1.381 "/>
					    <line class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="79.001" y1="181.981" x2="186.501" y2="111.081"/>
					    <polyline class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
					    	7.901,73.681 79.001,181.981 1.401,210.181 "/>
					    <line class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="102.401" y1="287.681" x2="170.401" y2="146.781"/>
					    </svg>
              &copy; Pixel Twist | A trading name of <a href="//www.jppdesigns.co.uk" target="_blank">JPPdesigns</a>
              <span *ngIf="!loggedIn">| <a routerLink="/auth/signin" (click)="showLoading()">Login</a></span>
              <span *ngIf="hasAdminAccess">| <a routerLink="/admin" (click)="showLoading()">Admin</a></span>
              <span *ngIf="hasMyAccountAccess">| <a routerLink="/my-account" (click)="showLoading()">My Account</a></span>
              <span *ngIf="canLogout">| <a (click)="onLogout()">Logout</a></span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
