<section class="ie8">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 mb-20 mt-20 text-center">
        <h1 class="nmtop">Oops!</h1>

        <p>It looks like you are using an outdated version of Internet Explorer.</p>

        <p>This website is best viewed using IE9 and later. Please update your browser to continue and experience the
          site and content at its very best.</p>

        <p>Alternatively open the site in a recommended modern browser such as Firefox or Chrome.</p>
      </div>
    </div>
  </div>
</section>

<section *ngIf="showAdminPanel" id="admin_panel" class="d-none d-md-block d-lg-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div ngbDropdown class="d-inline-block dropdown float-left mt-5">
          <a class="text-white" id="adminActions" ngbDropdownToggle>
            New
          </a>

          <div id="adminActionsList" class="dropdown-menu" ngbDropdownMenu aria-labelledby="adminActions">

            <a class="dropdown-item" *ngIf="postArray.indexOf(role)!=-1" (click)="showLoading()" routerLink="/admin/post/create" (click)="showLoading()">
              <i class="fa fa-file-o mr-10"></i> New Post
            </a>


            <a class="dropdown-item" *ngIf="projectArray.indexOf(role)!=-1" (click)="showLoading()" routerLink="/admin/project/create" (click)="showLoading()">
              <i class="fa fa-archive mr-10"></i> New Project
            </a>

            <a class="dropdown-item" *ngIf="editorArray.indexOf(role)!=-1" (click)="showLoading()" routerLink="/admin/tags" (click)="showLoading()">
              <i class="fa fa-tag mr-10"></i> New Tag
            </a>

            <a class="dropdown-item" *ngIf="editorArray.indexOf(role)!=-1" (click)="showLoading()" routerLink="/admin/categories" (click)="showLoading()">
              <i class="fa fa-th mr-10"></i> New Category
            </a>

            <a class="dropdown-item" *ngIf="editorArray.indexOf(role)!=-1" (click)="showLoading()" routerLink="/admin/services" (click)="showLoading()">
              <i class="fa fa-rocket mr-10"></i> New Service
            </a>

            <div *ngIf="adminArray.indexOf(role)!=-1" class="dropdown-divider"></div>

            <a class="dropdown-item" *ngIf="adminArray.indexOf(role)!=-1" (click)="showLoading()" routerLink="/admin/user/create" (click)="showLoading()">
              <i class="fa fa-users mr-10"></i> New User
            </a>

            <a class="dropdown-item" *ngIf="adminArray.indexOf(role)!=-1" (click)="showLoading()" routerLink="/admin/roles-and-permissions" (click)="showLoading()">
              <i class="fa fa-shield mr-10"></i> New Role
            </a>

          </div>
        </div>

        <div ngbDropdown placement="bottom-right" class="d-inline-block dropdown float-right">
          <a class="text-white" id="userActions" ngbDropdownToggle>
            <img *ngIf="userImage" [src]="userImage"
                 alt="user avatar"
                 class="rounded-circle bg-white" width="40"/>
            Hi {{ user.firstname + ' ' + user.lastname }}
          </a>

          <div id="userActionsList" class="dropdown-menu" ngbDropdownMenu aria-labelledby="userActions">
            <a class="dropdown-item" routerLink="/admin/profile" (click)="showLoading()">
              <i class="fa fa-user mr-10"></i> Profile
            </a>
            <a class="dropdown-item" routerLink="/admin" (click)="showLoading()">
              <i class="fa fa-dashboard mr-10"></i> Dashboard
            </a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out mr-10"></i> Logout
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<header class="ie8-hide" id="top" [ngClass]="showAdminPanel ? 'auth-active':''">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">

        <div class="navbar-header text-center">
          <div id="menu-toggle" class="menu-toggle" (click)="toggleMenu()">
            <div class="hamburg">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
            <div class="cross">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
          </div>

          <a class="navbar-brand" routerLink="/">
            <span class="d-none">Pixel Twist</span>
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 300">
              <path class="logo-pixel"
                    d="M0 99.6h39.7c28.5 0 41.5 13 41.5 34.1v.9c0 21.2-14.8 33.2-39.7 33.2H30.4v35.1H.8V99.7l-.8-.1zm37.8 48c9.3 0 14.8-4.6 14.8-13v-.9c0-9.3-5.5-12.1-14.8-12.1h-8.3v25.9l8.3.1zM91.3 107c0-7.4 6.4-13.9 13.9-13.9 8.3 0 13.9 5.5 13.9 13.9s-6.4 13-13.9 13-13.9-5.6-13.9-13zm1.8 20.3h25.8v75.5H93.1v-75.5zM154 164.2l-24-36.9h29.5l12.1 20.2 11.1-20.2h26.7l-23.9 35.1 25.8 40.6h-29.5l-13.9-22.1-13.9 22h-26.7l26.7-38.7zM211.1 166v-1.8c0-23.9 18.4-39.7 40.6-39.7 20.2 0 38.7 12.1 38.7 38.7v6.4h-53.6c.9 10.2 6.4 15.6 15.6 15.6 8.3 0 12.1-3.7 13-9.3h23.9c-1.8 18.4-14.8 27.6-37.8 27.6-23.8.4-40.4-13.5-40.4-37.5zm53.5-10.2c0-9.3-4.6-13.9-13-13.9-7.4 0-13 4.6-14.8 13.9h27.8zM301.5 94.1h25.8v108.8h-25.8V94.1z"/>
              <g>
                <path class="logo-twist"
                      d="M606.1 122.6h-25.8v-23h82.9v23h-27.6v80.1h-29.5v-80.1zM664.1 127.2h26.7l11.1 45.2 13-45.2h20.2l11.1 45.2 12.1-45.2h24.8l-24 74.6h-24.8l-11.1-41.5-12.1 41.5h-24.8l-22.2-74.6zM805.1 209.2c8.3 0 13.9 5.5 13.9 13 0 7.4-6.4 13-13.9 13-8.3 0-13.9-5.5-13.9-13 .1-7.5 5.7-13 13.9-13zm-12.9-82H818v74.6h-25.8v-74.6zM829.1 178.8H853c.9 5.5 3.7 8.3 11.1 8.3 6.4 0 9.3-2.8 9.3-6.4s-3.7-5.5-13.9-6.4c-20.2-2.8-28.5-8.3-28.5-23.9 0-16.6 14.8-24.8 32.3-24.8 18.4 0 31.4 6.4 33.2 23.9h-23c-.9-4.6-3.7-7.4-9.3-7.4-5.5 0-8.3 2.8-8.3 5.5 0 3.7 3.7 4.6 13 6.4 21.2 2.8 30.5 8.3 30.5 23.9 0 17.5-13 25.8-34.1 25.8-23.3 0-36.2-8.3-36.2-24.9zM911.2 177.8v-33.1h-9.3v-17.5h9.3v-15.6H937v15.6h14.8v17.5H937v31.4c0 5.5 2.8 8.3 7.4 8.3 2.8 0 4.6 0 7.4-.9v19.3c-3.7.9-8.3 1.8-13.9 1.8-16.6-.9-26.7-9.2-26.7-26.8z"/>
              </g>
              <g>
                <path class="logo-symbol"
                      d="M466.9 297.1h-.5c-.9-.7-1.9-1.4-2.8-2.3-33.9-26.1-67.7-52.1-101.5-78.1-.8-.6-1.6-1.1-2.5-1.8v-.5c.3-.2.5-.4.7-.7 13.6-17.6 27.1-35.2 40.7-52.8.4-.6.5-1 .3-1.8-11.6-28.2-23.4-56.5-35-84.8-.3-.8-.7-1.5-1-2.4 1.2-.8 2.4-1.5 3.5-2.3C404.9 46.9 441 24 477.2 1c.5-.3.8-.7 1.3-1h.5c.6 1.1 1.3 2.2 2 3.2 22.9 36 45.6 72 68.5 108l.9 1.2v.2c-.1.1-.2.2-.2.3-5.6 12.3-11 24.5-16.6 36.8-.2.3-.2.9 0 1.2 4.6 13 9.3 26 14 38.9.3.9.2 1.5-.4 2.3-26.3 34.1-52.5 68.2-78.8 102.4-.6 1-1 1.8-1.5 2.6zm-27.5-120.6c34-21.6 67.9-43 101.8-64.7-21.6-34-43-67.9-64.7-101.8-34 21.5-67.9 43-101.8 64.6 21.6 33.9 43 67.8 64.7 101.9zM372 215.2c30.9 23.8 61.6 47.4 92.4 71.2 24.3-54.1 48.6-108 72.9-162-.6.1-.9.3-1.3.5-31.1 19.8-62.2 39.4-93.3 59.2-1 .6-2.1 1.3-3.2 1.9-19.6 8.4-39 16.9-58.6 25.4-2.9 1.3-5.8 2.5-8.9 3.8zm156.2-57.7c-16.7 37.5-33.3 74.8-49.8 112 .4-.1.6-.3.7-.5 20-26 40.1-52 60.1-78 .5-.7.6-1.2.3-2-2.8-7.7-5.6-15.6-8.3-23.4-.9-2.6-1.9-5.3-3-8.1zm-141.8-50.9c-.1 0-.1.1-.2.1.1.3.1.5.2.8 7.2 17.5 14.5 35.1 21.7 52.6.3.6.3 1.1-.1 1.8-9.1 11.6-18 23.4-27 35-2.4 3.1-4.8 6.3-7.2 9.4 0 .1.1.1.1.2 19.8-8.5 39.5-17.1 59.4-25.7-15.6-24.9-31.2-49.6-46.9-74.2z"/>
              </g>
            </svg>
          </a>

          <div class="social-links d-none d-md-block">
            <ul class="list-inline">
              <li class="social list-inline-item">
                <a href="https://www.facebook.com/PixelTwistJPP/" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="social list-inline-item">
                <a href="https://twitter.com/PixelTwist" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="social list-inline-item">
                <a href="tel:07867484395">
                  <i class="fa fa-phone"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
