<section id="menu">
  <div id="menu-inner" class="text-center">

    <ul class="offset-menu">
      <!--[routerLinkActiveOptions]="{ exact: true }"-->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/">Home</a>
      </li>

      <li routerLinkActive="active" (click)="toggleMenu()">
        <a routerLink="/about">About</a>
      </li>

      <li routerLinkActive="active" (click)="toggleMenu()">
        <a routerLink="/what-we-do">What We Do</a>
      </li>

      <li routerLinkActive="active" (click)="toggleMenu()">
        <a routerLink="/work">Our Work</a>
      </li>

      <li routerLinkActive="active" (click)="toggleMenu()">
        <a routerLink="/journal">Journal</a>
      </li>

      <li routerLinkActive="active" (click)="toggleMenu()">
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>

  </div>
  <div class="menu-overlay" (click)="toggleMenu()"></div>
</section>
