/* Button Colors --- This section will change depending on the site color scheme */

.btn-admin-primary {
  background-color: $red;
  color: $white;

  &:hover, &:active, &:focus {
    background-color: $red;
    color: $white;
  }
}

.btn-blue {
  background-color: $blue;
  color: $white;

  &:hover, &:active, &:focus {
    background-color: $blue;
    color: $white;
  }
}

.btn-light-gray {
  background-color: $lightGray;
  color: $darkGray;

  &:hover, &:active, &:focus {
    background-color: $lightGray;
    color: $darkGray;
  }
}

.btn-dark-gray {
  background-color: $darkGray;
  color: $white;

  &:hover, &:active, &:focus {
    background-color: $darkGray;
    color: $white;
  }
}

/* Button Sizes --- Adjust if Needed */
.btn {
  border-radius: 4px !important;
  transition: .4s ease-in-out;
  font-weight: 600;
  border: none;
}

a.btn, button.btn {
  text-decoration: none !important;
}

.btn-xs {
  padding: 4px 8px !important;
  font-size: 10px;
}

.btn-sm {
  padding: 5px 8px !important;
  font-size: 13px;
}

.btn-md {
  padding: 7px 15px !important;
  font-size: 14px;
}

.btn-lg {
  padding: 10px 25px !important;
  font-size: 16px;
}
