// Text Colours
.text-black {color:$black;}
.text-white {color:$white;}
.text-light-gray {color:$lightGray;}
.text-dark-gray {color:$darkGray;}

// Background Colours
.bg-white {background-color:$white !important;}
.bg-black {background-color:$black !important;}
.bg-light-gray {background-color: $lightGray !important;}
