.form-group {
  margin-bottom: 20px;

  p {
    font-size:14px;
  }

  label {
    padding-top: 5px;
  }

  input {
    box-shadow: none;

    &.readonly {
      background-color: $lightGray;
    }
  }

  .file_input_wrap  {
    input[type=file] {
      display:none;
      margin:10px;

      & + label {
        display:inline-block;
        margin:20px;
        padding: 4px 32px;
        background-color: #FFFFFF;
        border:solid 1px #666F77;
        border-radius: 6px;
        color:#666F77;
      }

      &:active {

        & + label {
          background-image: none;
          background-color:#2D6C7A;
          color:#FFFFFF;
        }
      }
    }
  }
}

//Angular Validation Classes
form {
  &.ng-dirty {

    .ng-valid {
      border:1px green solid;
    }

    .ng-invalid {
      border:1px red solid;
    }
  }

  #date_picker {
    &.ng-invalid {
      border-color: transparent !important;
    }
    &.ng-valid {
      border-color: transparent !important;
    }
  }
}
