.post_fb-container {

  .post_fb {
    background-color: $light_gray;
    border: $lightGray 1px solid;
    //border-bottom: 2px $dark_gray-2 solid;
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;

    .post_fb-image {
      height: 200px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      .post_fb-image--overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($mid_gray_1, .2);
        z-index: 1;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transition: .4s all;
        transform: translate(-50%, -50%) scale(1.2);
        z-index: 1;
      }

      p {
        font-size: 14px;
        margin: 0;
        width: 80%;
        position: absolute;
        top: auto;
        left: 15px;
        bottom: 10px;
        color: white;
        z-index: 3;

        span {
          display: inline-block;
        }
      }

      &:hover {

        img {
          transform: translate(-50%, -50%) scale(1.3);
        }

      }
    }

    .post_fb-actions {
      padding: 0 15px;
      position: relative;
      top: -15px;
      margin-bottom: 25px;
      z-index: 10;

      ul {
        position: absolute;
        right: 15px;

        li {
          width: 30px;
          height: 30px;
          background-color: $white;
          border-radius: 50%;
          position: relative;
          box-shadow: 0 1px 3px rgba($dark_gray-1, 0.12), 0 1px 2px rgba($dark_gray-1, 0.24);
          transition: .4s all;
          cursor: pointer;

          i {
            font-size: 14px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &.bg-green {
            background-color: $green;
            color: white;
          }

          &.bg-red {
            background-color: $red;
            color: white;
          }

          &.hover {

            &:hover {
              background-color: rgba($orange, 1);
              color:white;
            }

          }
        }
      }
    }

    .post_fb-details {
      padding: 0 15px;
      height: 200px;

      h3 {
        font-size: 20px;
        font-weight: bold;
        color: $dark_gray-1;

        a {
          color: $dark_gray-1;
        }
      }

      p {
        font-size: 14px;
        margin-bottom: 5px;

        span {
          display: inline-block;
        }
      }
    }

    .post_fb-footer {
      padding: 10px 15px;
      background-color: rgba($mid_gray_1, .05);

      p {
        font-size: 12px;
        margin-bottom: 0;
        line-height: 1;

        span {
          display: inline-block;
        }
      }
    }
  }
}
