#preview-post {

  aside {
    h4 {
      font-weight: bold;
    }

    ul.list-unstyled {
      margin-top: 0;

      li {
        padding: 10px 0;

        &:first-child {
          padding-top: 0;
        }

        span {
          width: 120px;
          display: inline-block;
          font-family:$GothamMedium;
        }
      }
    }
  }

}
