/*
////////////////////////////////////////
////////// PAGE CTA STYLES//////////////
////////////////////////////////////////
*/

#page-cta {
  background-color: $red;

  .center-content {
    top:48%;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $red;
    position: absolute;
    bottom: -19px;
    top:auto;
    left:50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

/*
////////////////////////////////////////
////////// BACK 2 TOP STYLES/////////////////
////////////////////////////////////////
*/

#back-to-top {
  position: fixed;
  top:auto;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: $red;
  box-shadow: 1px 1px 10px $dark-gray-1;
  border-radius: 50%;
  z-index: 4;
  // border: 2px solid $white;
  transition:.4s all;
  opacity: 0;
  color:white;

  @media only screen and (max-width: 767px) {
    display: none;
  }

  &.anim {
    opacity: 1
  }

  &:hover {
    box-shadow: 1px 1px 20px $dark-gray-1;
  }

  i {
    font-size: 20px;
    color:white;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
}

/*
////////////////////////////////////////
////////// FOOTER STYLES ///////////////
////////////////////////////////////////
*/

footer {
  position: fixed;
  bottom:0;
  top: auto;
  // position: relative;
  display: table !important;
  z-index: 2;
  width: 100%;

  @media only screen and (max-width: 767px) {
    position: relative;
  }

  .footer-top {
    height: 100%;
    display: table-row;

    .footer-about, .footer-contact {
      display: table-cell;
      vertical-align: top;
      width: 50%;
      height: 100%;
      padding:100px 30px 30px;

      @media only screen and (max-width: 767px) {
        width: 100%;
        float: left;
        padding:40px 30px 30px;
      }
    }

    svg {
      width: 20px;
      margin-right: 10px;
      border:0;
      padding:0;
      vertical-align:middle;

      .logo-symbol {
        stroke: $red;
        stroke-width:10;
      }
    }

    .footer-about {
      background-color: $dark-gray-1;
      // border-top: 2px solid $red;
      // border-right: 0.5px solid $red;
    }

    .footer-contact {
      background-color: $dark-gray-2;
      // border-top: 2px solid $red;
      // border-left: 0.5px solid $red;

      ul {
        list-style-type: none;
        li {
          list-style-type: none;
          color:$light-gray;
          padding-bottom: 10px;
          margin-bottom: 0px;

          a {
            color:$light-gray;
          }
        }
      }
    }

    h5 {
      font-size: 18px;
      color:white;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
      margin-bottom: 25px;

      &:after {
        content: '';
        width: 40px;
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        top: 28px;
        left: 0;
      }
    }

    hr {
      border-style: dotted;
    }

    p, address {
      font-size: 14px;
      width: 80%;
      color:$light-gray;
      margin-bottom: 20px;

      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      @media only screen and (min-width: 767px) {
        width: 100%;
      }

      @media only screen and (min-width: 992px) {
        width: 80%;
      }

      @media only screen and (min-width: 1200px) {
        width: 80%;
      }
    }

    h6 {
      color:white;

      a {
        color:$red;
      }
    }
  }

  // Override ul in main section
  ul {
    padding-left: 0;
  }
}
