#push-wrapper {
  transition: .4s all;
  overflow: hidden;
  position: relative;
  background-color: $light_gray;

  &.active {
    transform: translate3d(35%, -4%, 0) scale3d(0.85, 0.85, 1);
    //box-shadow: -5px -5px 10px #999;
    box-shadow: -5px 5px 10px #999;
  }
}

header {
  position: relative;
  width: 100%;
  z-index: 99;

  &.auth-active {
    @media only screen and (max-width: 767px) {
      margin-top: 0;
    }

    @media only screen and (min-width: 767px) {
      margin-top: 60px;
    }

    @media only screen and (min-width: 992px) {
      margin-top: 60px;
    }

    @media only screen and (min-width: 1200px) {
      margin-top: 60px;
    }
  }

  .navbar {
    border-radius:0px;
    margin-bottom:0px;
    padding: 8px 0 5px;
    position: relative;

    .container, .container-fluid {
      .navbar-header {
        width: 100%;
        height: 100%;

        @media only screen and (max-width: 767px) {
          width: auto;
        }

        .navbar-brand {
          position: absolute;
          height: auto;
          margin: auto;
          width: 50%;
          padding:0;
          top: 51%;
          left: 50%;
          transform:translate(-50%, -50%);
          text-align: center;
          z-index: 99999;

          @media only screen and (max-width: 767px) {
            width: auto;
            left: 50%;
          }

          svg {
            width: 240px;
            height: auto;

            @media only screen and (max-width: 767px) {
              width: 180px;
            }

            .logo-pixel {
              stroke:$dark-gray-1;
              stroke-width:6;
              stroke-dasharray: 1000;
              stroke-dashoffset: 1000;
              fill:$dark-gray-1;
              transition:.4s all;

              @media only screen and (max-width: 767px) {
                display: none;
              }
            }

            .logo-twist {
              stroke:$dark-gray-1;
              stroke-width:6;
              stroke-dasharray: 1000;
              stroke-dashoffset: 1000;
              fill:$dark-gray-1;
              transition:.4s all;

              @media only screen and (max-width: 767px) {
                display: none;
              }
            }

            .logo-symbol {
              stroke:$dark-gray-1;
              stroke-width:6;
              stroke-dasharray: 1000;
              stroke-dashoffset: 1000;
              fill:$dark-gray-1;
              transition:.4s all;
            }

            &:hover {
              .logo-symbol {
                fill:rgba($dark-gray-1,1);
                // animation: draw 3s linear alternate infinite;
              }

              .logo-pixel {
                fill:rgba(white,0);
                animation: draw 3s linear alternate infinite;
              }

              .logo-twist {
                fill:rgba(white,0);
                animation: draw 3s linear alternate infinite;
              }
            }
          }
        }
      }
    }
  }

  .navbar-default {
    min-height:10px;
    height: 90px;
    position: relative;
    border:none;
    background-color: $white;
    border-bottom: 3px solid $light-gray;

    .row {
      width: 100%;
    }

    .social-links {
      position: absolute;
      height: auto;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      ul {
        margin-bottom: 0;
        padding-right: 15px;
        margin-left: 0;

        li {
          width: auto;
          height: 30px;
          margin: 0px;
          margin-left: 10px;
          margin-top: -10px;
          padding: 0;
        }

        li.social {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border:1px solid $dark-gray-1;
          position: relative;
          padding: 0;
          margin-left: 10px;
          margin-top: 0px;
          overflow: hidden;
          background-color: transparent;
          z-index: 1;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            background-color: $dark-gray-1;
            z-index: -1;
            transition:.4s all;
          }

          a {
            display: block;
            color:$dark-gray-1;
            width: 100%;
            height: 100%;

            i {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              font-size: 14px;
            }
          }

          &:hover {
            a {
              color:$white;
            }

            &:after {
              left:0;
            }
          }
        }
      }
    }
  }
}
