main {
  //background-color:transparent;
  background-color: white;
  position: relative;
  z-index: 3;
  transition: .4s all;

  @media only screen and (max-width: 767px) {
    margin-bottom: 0;
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 360px;
  }

  @media only screen and (min-width: 992px) {
    margin-bottom: 355px;
  }

  @media only screen and (min-width: 1200px) {
    margin-bottom: 360px;
  }

  //@media only screen and (min-width: 1400px) {
  //  margin-bottom: 360px;
  //}
  //
  //@media only screen and (min-width: 1600px) {
  //  margin-bottom: 360px;
  //}

  hr {
    margin: 0;
    border-color: #eee;
  }

  section {
    position: relative;
    padding:60px 0;
    background-color: #ffffff;
    width: 100%;
    overflow-y: visible;

    p {
      a {
        color:$blue;

        &:hover {
          color:$red;
          text-decoration: underline;
        }
      }
    }

    &#main-content {
      overflow-y: visible;

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $white;
        position: absolute;
        bottom: -20px;
        top:auto;
        left:50%;
        transform: translateX(-50%);
        z-index: 2;
      }

      &#page-heading {

      }
    }

    .center-content {
      position:absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      width: 100%;
      padding: 0 15px;
      z-index: 2;
    }
  }
}

// Page Heading

.page-heading {

  h2 {
    font-weight: bold;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family:$fontArapey;
    font-style: italic;
    font-weight:400;

    hr {
      margin-top: 20px;
      width: 100px;
      border-width: 3px;
      border-color:$red;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  p {
    font-size: 20px;
    line-height: 35px;
  }
}


/*
////////////////////////////////////////
////////// MODULE STYLES ///////////////
////////////////////////////////////////
*/

.module-wrapper {
  max-width: 1600px;
  margin: auto;
}

.text-module {
  display: table;
  // table-layout: fixed;
  width: 100%;

  .text-module-container {
    display: table-row;

    .left-block, .right-block {
      vertical-align: middle;
      max-width: 100%;
      padding: 50px 30px;

      @media only screen and (max-width: 767px) {
        display: block;
        width: 100%;
      }

      @media only screen and (min-width: 767px) {
        display: block;
        width: 100%;
      }

      @media only screen and (min-width: 992px) {
        display: table-cell;
        width: 50%;
      }

      @media only screen and (min-width: 1200px) {
        display: table-cell;
        width: 50%;
      }
    }
  }
}

#page-cta {
  min-height:350px;
}
