#admin_panel {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: $blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: .4s all;

  .admin_panel-user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
  }

  .navbar-left {
    li {
      a {
        &.dropdown-toggle {
          padding-top: 18px !important;
          padding-bottom: 18px !important;
          padding-left: 0 !important;
        }
      }
    }
  }

  .navbar-nav {
    li {
      a {
        color: $dark_gray-1;
      }

      &.dropdown {
        a {
          color: $black;

          &.dropdown-toggle {
            color: $white;
            font-weight: bold;
            letter-spacing: 0;
            font-size: 14px;
            padding-top: 8px;
            padding-bottom: 8px;
          }

          &:hover, &:focus {
            background-color: transparent;
          }
        }

        &.open {
          a {
            background-color: transparent;
          }
        }
      }

      ul.dropdown-menu {
        background-color: $light_gray;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -2px;

        li {
          a {
            // transition: .4s all;
            padding-top: 6px;
            padding-bottom: 8px;
            font-size: 14px;
          }

          &:hover {
            a {
              background-color: $blue;
              color: $white;
            }
          }
        }
      }
    }
  }
}

/*
/////////////////////////
///// MENU STYLES /////
/////////////////////////
*/

#menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  z-index: 10;
  transition: .8s all;
  overflow: hidden;

  #menu-inner {
    width: 450px;
    height: 100vh;
    background: $dark-gray-2;
    z-index: 999;
    position: relative;
    padding-top: 10px;

    @media only screen and (max-width: 767px) {
      width: 290px;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    svg {
      width: 30px;

      .logo-symbol {
        fill: white;
      }
    }

    #menu-header {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0px;
      left: 0px;
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;
      background-color: $red;

      ul {
        margin-bottom: 0;

        li {
          margin-top: 4px;
          margin-bottom: 9px;

          a {
            font-size: 12px;
            color: $white;
          }
        }
      }
    }

    ul.offset-menu {
      list-style-type: none;
      width: 60%;
      padding: 0;
      margin-bottom: 0px;
      padding: 40px 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media only screen and (max-width: 767px) {
        width: 80%;
      }

      li {
        list-style-type: none;
        text-align: left;
        font-size: 32px;
        margin-bottom: 20px;
        transition: .4s all;
        position: relative;
        left: 0;

        &.active {
          a {
            color: $red;
          }
        }

        &:after {
          content: '\f105';
          font-family: fontAwesome;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
          color: $red;
          transition: .4s all;
          transition-delay: 0s;
          font-size: inherit;
        }

        &:nth-of-type(1) {
          left: -500px;
          transition-delay: 0.5s;
        }

        &:nth-of-type(2) {
          left: -500px;
          transition-delay: 0.55s;
        }

        &:nth-of-type(3) {
          left: -500px;
          transition-delay: 0.6s;
        }

        &:nth-of-type(4) {
          left: -500px;
          transition-delay: 0.65s;
        }

        &:nth-of-type(5) {
          left: -500px;
          transition-delay: 0.7s;
        }

        &:nth-of-type(6) {
          left: -500px;
          transition-delay: 0.75s;
        }

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: white;
          display: block;
          position: relative;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .menu-footer {
      position: absolute;
      width: 60%;
      height: auto;
      top: auto;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      text-align: left;

      ul {
        margin-bottom: 0;
        padding-right: 15px;
        margin-left: 22px;

        li {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #FFF;
          position: relative;
          padding: 0;
          margin-right: 20px;
          overflow: hidden;
          background-color: transparent;
          z-index: 1;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            background-color: #ffffff;
            z-index: -1;
            transition: .4s all;
          }

          a {
            display: block;
            color: $white;
            width: 100%;
            height: 100%;

            i {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 14px;
            }
          }

          &:hover {
            a {
              color: $dark-gray-1;
            }

            &:after {
              left: 0;
            }
          }
        }
      }
    }
  }

  .menu-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    display: none;
    cursor: pointer;
  }

  &.open {
    left: 0;

    #menu-inner {
      ul.offset-menu {
        li {
          &:nth-of-type(1) {
            left: 0px;
          }

          &:nth-of-type(2) {
            left: 0px;
          }

          &:nth-of-type(3) {
            left: 0px;
          }

          &:nth-of-type(4) {
            left: 0px;
          }

          &:nth-of-type(5) {
            left: 0px;
          }

          &:nth-of-type(6) {
            left: 0px;
          }

          &:hover {
            &:after {
              right: 0px;
              opacity: 1;
            }
          }
        }
      }
    }

    .menu-overlay {
      display: block;
    }
  }
}

/*
/////////////////////////
///// TOGGLE STYLES /////
/////////////////////////
*/

.menu-toggle {
  width: 55px;
  background-color: $white;
  padding-right: 10px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  cursor: pointer;
  z-index: 99999;
  display: inline-block;
  position: absolute;
  left: 0;
  //top: 0;
  top: 50%;
  transform: translateY(-50%);

  .hamburg {

    .icon-bar {
      background-color: $dark-gray-1;
      height: 3px;
      width: 100%;
      display: block;
      margin-bottom: 8px;
      border-radius: 3px;
      transition: .4s all;

      &:nth-of-type(1) {
        width: 100%;
        transition-delay: 0.5s;
      }

      &:nth-of-type(2) {
        width: 100%;
        transition-delay: 0.625s;
      }

      &:nth-of-type(3) {
        width: 100%;
        transition-delay: .75s;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .cross {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 70%;
    left: 10%;
    transform: rotate(45deg) translate(-50%, -50%);

    .icon-bar {
      background-color: $dark-gray-1;
      height: 3px;
      width: 0%;
      display: block;
      margin-bottom: 8px;
      border-radius: 3px;
      transition-delay: .8s;
      transition: .4s all;
      position: absolute;

      &:nth-of-type(1) {
        top: 15px;
        width: 0%;
        transition-delay: .25s;
      }

      &:nth-of-type(2) {
        height: 0%;
        width: 3px;
        transition-delay: 0s;
        right: 18px;
        top: -3px;
      }
    }
  }

  &:hover {
    .hamburg {
      .icon-bar {
        &:nth-of-type(1) {
          width: 100%;
          transition-delay: 0s;
        }

        &:nth-of-type(2) {
          width: 80%;
          transition-delay: 0s;
        }

        &:nth-of-type(3) {
          width: 60%;
          transition-delay: 0s;
        }
      }
    }

    .cross {
      .icon-bar {
        &:nth-of-type(1) {

        }

        &:nth-of-type(2) {

        }

        &:nth-of-type(3) {

        }
      }
    }
  }

  &.open {
    .hamburg {
      .icon-bar {
        &:nth-of-type(1) {
          width: 0%;
          transition-delay: 0s;
        }

        &:nth-of-type(2) {
          width: 0%;
          transition-delay: .125s;
        }

        &:nth-of-type(3) {
          width: 0%;
          transition-delay: .25s;
        }
      }
    }

    .cross {
      .icon-bar {
        &:nth-of-type(1) {
          width: 100%;
          transition-delay: .375s;
        }

        &:nth-of-type(2) {
          height: 100%;
          width: 3px;
          transition-delay: .625s;
        }
      }
    }
  }
}
