/* Start Imports */
@import "core/vars";
@import "core/typography";
@import "core/global";

#auth {
  // Main Styles
  main {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $red;
    //background: linear-gradient(110deg, $red 15%, $dark_gray-2 85%);
    color:$white;

    a {
      color:white;
    }
  }

  #login, #signup, #forgot-password {
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 800px;

    @media only screen and (max-width: 767px) {
      width: 80%;
    }

    .form-control {
      box-shadow: none !important;
    }
  }

  .close-auth {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;

    a {
      display: block;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  // Extra Styles
  @import "extras/backgrounds";
  @import "extras/loading";
  @import "extras/breadcrumbs";
  @import "extras/buttons";
  @import "extras/forms";
  @import "extras/parallax";
  @import "extras/colors";
  @import "extras/keyframes";
}

// Override Styles
@import "core/overrides";
