/* Start Imports */
@import "core/vars";

.home {

  /*
  /////////////////////////////////////////////////
  ////////// HEADER & NAVBAR STYLES ///////////////
  /////////////////////////////////////////////////
  */

  header {
    .navbar {
      .container, .container-fluid {
        .navbar-header {
          svg {

            .logo-pixel {
              stroke: white !important;
              fill: white !important;
            }

            .logo-twist {
              stroke: white !important;
              fill: white !important;
            }

            .logo-symbol {
              stroke: white !important;
              fill: white !important;
            }

            &:hover {
              .logo-symbol {
                fill: rgba(white, 1) !important;
              }

              .logo-pixel {
                fill: rgba(white, 0) !important;
              }

              .logo-twist {
                fill: rgba(white, 0) !important;
              }
            }
          }
        }
      }
    }
  }

  .navbar-default {
    background: transparent !important;
    border: none !important;
    padding: 2px 0 0 0;

    .social-links {
      ul {
        li.social {
          border: 1px solid #FFF !important;
          background-color: transparent !important;

          &:after {
            background-color: #ffffff !important;
          }

          a {
            color: $white !important;
          }

          &:hover {
            a {
              color: $dark_gray-1 !important;
            }

          }
        }
      }
    }
  }

  /*
  /////////////////////////
  ///// TOGGLE STYLES /////
  /////////////////////////
  */

  .menu-toggle {
    background: transparent !important;

    .hamburg {
      .icon-bar {
        background-color: $white !important;
      }
    }

    .cross {
      .icon-bar {
        background-color: $white !important;
      }
    }
  }

  /*
  ////////////////////////////////////////
  ////////// MAIN STYLES /////////////////
  ////////////////////////////////////////
  */

  main {
    section {
      &.video-container {
        margin-top: -92px;
        position: relative;
        overflow: hidden !important;
        max-height: 600px !important;

        &:after {
          content: '';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid $light_gray;
          position: absolute;
          bottom: 0px;
          top: auto;
          left: 50%;
          transform: translateX(-50%);
          z-index: 999;
        }

        @media only screen and (max-width: 767px) {
          height: 410px;
          background: url("../img/bg-video-cover.jpg") no-repeat center;
          background-size: cover;

          video {
            display: none;
          }
        }

        .video-overlay {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
          background-color: rgba($dark_gray-2, .4);
        }

        .showreel {
          overflow: hidden;
          padding: 0;
          width: 100% !important;
        }

        .showreel-video {
          top: 0;
          left: 0px;
          z-index: 1;
        }

        #showreel-info {
          position: absolute;
          z-index: 10;
          color: #FFF;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;

          h1 {
            text-transform: uppercase;
            letter-spacing: -1px;
            font-size: 40px;
            // border:2px solid white;
            // padding: 20px 0;

            @media only screen and (max-width: 767px) {
              font-size: 26px;
            }
          }

          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  @import "pages/home";

}
