/* Start Imports */
@import "core/vars";
@import "core/typography";
@import "core/global";

#page {
  &.active {
    overflow: hidden !important;
  }

  // Extra Styles
  @import "extras/backgrounds";
  @import "extras/loading";
  @import "extras/breadcrumbs";
  @import "extras/buttons";
  @import "extras/forms";
  @import "extras/parallax";
  @import "extras/pagination";
  @import "extras/icons";
  @import "extras/keyframes";

  // Header Styles
  @import "header";
  @import "nav";

  // Main Body Styles
  @import "main";
  @import "posts/posts";
  @import "posts/post-show";
  @import "projects/projects";
  @import "projects/project-show";

  // Page Styles
  @import "pages/about";
  @import "pages/contact";
  @import "pages/work";

  // Footer Styles
  @import "footer";
}

// Override Styles
@import "extras/colors";
@import "core/overrides";
