#my-account-footer {
  padding: 20px 0 20px;
  background-color: $dark_gray-1;
  color:$white;

  .footer_top {
  }

  .footer_bottom {
  }

  // Override ul in main section
  ul {
    padding-left: 0;
  }
}
