main {
  background-color: transparent;
  position: relative;
  transition: .4s all;

  section {
    position: relative;
    padding: 60px 0;
    background-color: #ffffff;
    width: 100%;
    overflow-y: visible;
  }
}
