<header id="side_nav-container">

  <div class="side_nav-brand" (click)="onLoad()">

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				    	 viewBox="0 0 187.634 289.066" enable-background="new 0 0 187.634 289.066" xml:space="preserve">
					    <path class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" d="M147.077,120.983"/>
					    <polygon class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" points="6.901,71.381 41.601,157.681 1.401,210.181
					    	102.401,287.681 183.601,187.981 170.401,146.781 186.501,111.081 185.538,109.551 117.401,1.381 "/>
					    <line class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="79.001" y1="181.981" x2="186.501" y2="111.081"/>
					    <polyline class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
					    	7.901,73.681 79.001,181.981 1.401,210.181 "/>
					    <line class="logo-symbol" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="102.401" y1="287.681" x2="170.401" y2="146.781"/>
					    </svg>

    <h2>
      Pixel Twist
    </h2>

  </div>

  <div class="clearfix"></div>

  <div [routerLink]="['/admin/profile']" class="user_profile">

    <div class="user_profile-image">
      <img *ngIf="userImage" [src]="userImage" alt="" width="20">
    </div>

    <div class="user_profile-details">
      <h3>{{ firstname + ' ' + lastname }}</h3>
      <h5>Role: {{ role }}</h5>
    </div>

  </div>

  <div class="clearfix"></div>

  <nav id="side_nav">
    <dl role="navigation">
      <dt routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/admin']" (click)="onLoad()" class="waves waves-effect waves-ripple">
          <span class="fa fa-home mr-5"></span>
          Dashboard
          <i class="fa fa-angle-right"></i>
        </a>
      </dt>

      <dt routerLinkActive="active">
        <a [routerLink]="['/admin/profile']" (click)="onLoad()" class="waves waves-effect waves-ripple">
          <span class="fa fa-user-circle-o mr-5"></span>
          Profile
          <i class="fa fa-angle-right"></i>
        </a>
      </dt>

      <div *ngIf="projectArray.indexOf(role)!=-1">

        <dt (click)="isCollapsedProjects = !isCollapsedProjects"
            [attr.aria-expanded]="!isCollapsedProjects" aria-controls="sub_nav-projects">
          <a class="waves waves-effect waves-ripple">
            <span class="fa fa-archive mr-5"></span>
            Projects
            <i class="fa fa-angle-right"></i>
          </a>
        </dt>

        <div id="sub_nav-projects" [ngbCollapse]="isCollapsedProjects" class="collapse drop_list">

          <dd *ngIf="editorArray.indexOf(role)!=-1" routerLinkActive="active">
            <a [routerLink]="['/admin/projects']"
               (click)="onLoad()" class="waves waves-effect waves-ripple waves-light">
              All Projects
            </a>
          </dd>

          <dd *ngIf="authorArray.indexOf(role)!=-1" routerLinkActive="active">
            <a [routerLink]="['/admin/my-projects']"
               (click)="onLoad()" class="waves waves-effect waves-ripple waves-light">
              My Projects</a>
          </dd>

          <dd routerLinkActive="active">
            <a [routerLink]="['/admin/project/create']" (click)="onLoad()"
               class="waves waves-effect waves-ripple waves-light">New Project</a>
          </dd>
        </div>

      </div>

      <div *ngIf="postArray.indexOf(role)!=-1">

        <dt (click)="isCollapsedPosts = !isCollapsedPosts"
            [attr.aria-expanded]="!isCollapsedPosts" aria-controls="sub_nav-posts">
          <a class="waves waves-effect waves-ripple">
            <span class="fa fa-file-text mr-5"></span>
            Posts
            <i class="fa fa-angle-right"></i>
          </a>
        </dt>

        <div id="sub_nav-posts" [ngbCollapse]="isCollapsedPosts" class="collapse drop_list">
          <dd *ngIf="editorArray.indexOf(role)!=-1" routerLinkActive="active">
            <a [routerLink]="['/admin/posts']"
               (click)="onLoad()" class="waves waves-effect waves-ripple waves-light">
              All Posts
            </a>
          </dd>
          <dd *ngIf="authorArray.indexOf(role)!=-1" routerLinkActive="active">
            <a [routerLink]="['/admin/my-posts']"
               (click)="onLoad()" class="waves waves-effect waves-ripple waves-light">
              My Posts</a>
          </dd>
          <dd routerLinkActive="active">
            <a [routerLink]="['/admin/post/create']" (click)="onLoad()"
               class="waves waves-effect waves-ripple waves-light">New Post</a>
          </dd>
        </div>

      </div>

      <dt *ngIf="editorArray.indexOf(role)!=-1" routerLinkActive="active">
        <a [routerLink]="['/admin/categories']" (click)="onLoad()" class="waves waves-effect waves-ripple">
          <span class="fa fa-th mr-5"></span>
          Categories
          <i class="fa fa-angle-right"></i>
        </a>
      </dt>

      <dt *ngIf="editorArray.indexOf(role)!=-1" routerLinkActive="active">
        <a [routerLink]="['/admin/tags']" (click)="onLoad()" class="waves waves-effect waves-ripple">
          <span class="fa fa-tags mr-5"></span>
          Tags
          <i class="fa fa-angle-right"></i>
        </a>
      </dt>

      <dt *ngIf="editorArray.indexOf(role)!=-1" routerLinkActive="active">
        <a [routerLink]="['/admin/services']" (click)="onLoad()" class="waves waves-effect waves-ripple">
          <span class="fa fa-rocket mr-5"></span>
          Services
          <i class="fa fa-angle-right"></i>
        </a>
      </dt>

      <hr class="nmargin" style="border-width: 1px;">

      <div *ngIf="adminArray.indexOf(role)!=-1">
        <dt (click)="isCollapsedUsers = !isCollapsedUsers"
            [attr.aria-expanded]="!isCollapsedUsers" aria-controls="sub_nav-users">
          <a class="waves waves-effect waves-ripple">
            <span class="fa fa-users mr-5"></span>
            Users
            <i class="fa fa-angle-right"></i>
          </a>
        </dt>

        <div id="sub_nav-users" [ngbCollapse]="isCollapsedUsers" class="collapse drop_list">
          <dd routerLinkActive="active">
            <a [routerLink]="['/admin/users']" (click)="onLoad()" class="waves waves-effect waves-ripple waves-light">All
              Users</a>
          </dd>
          <dd routerLinkActive="active">
            <a [routerLink]="['/admin/user/create']" (click)="onLoad()"
               class="waves waves-effect waves-ripple waves-light">New User</a>
          </dd>
        </div>
      </div>

      <dt *ngIf="adminArray.indexOf(role)!=-1" routerLinkActive="active">
        <a [routerLink]="['/admin/roles-and-permissions']" (click)="onLoad()" class="waves waves-effect waves-ripple">
          <span class="fa fa-shield mr-5"></span>
          Roles &amp; Permissions
          <i class="fa fa-angle-right"></i>
        </a>
      </dt>

      <!--Always stay at bottom-->
      <dt>
        <a [routerLink]="['/']" class="waves waves-effect waves-ripple">
          <span class="fa fa-reply mr-5"></span>
          Visit Site
          <i class="fa fa-angle-right"></i>
        </a>
      </dt>
    </dl>
  </nav>
</header>
