<header class="ie8-hide" id="admin-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <a id="nav-toggle" (click)="toggleSideNav()">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <a class="navbar-brand" [routerLink]="['/admin']" (click)="onLoad()">
          <span class="sr-only">Joel Pierre-Powell</span>
          <h1>Admin Panel</h1>
        </a>
      </div>

      <div class="col-4">
        <a *ngIf="loggedIn" (click)="onLogout()" class="npright float-right text-white mt-15">
          <i class="fa fa-power-off"></i> <span class="">Logout</span>
        </a>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

</header>

<div (click)="toggleSideNav()" id="page-overlay" class=""></div>
