<app-loading></app-loading>

<section id="login">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8  mx-auto">

          <div class="clearfix"></div>

          <h3 class="text-center mb-30">
              <span class="sr-only">
                Login
              </span>
            <!--<img src="../../../dist/img/logo-alt.png" alt="" width="250">-->
            <img src="../../../../dist/img/logo-symbol-alt.png" alt="" width="50">
          </h3>

          <app-error-messages></app-error-messages>

          <form (ngSubmit)="onSignin(f)" #f="ngForm">
            <div class="form-group mb-20">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" required ngModel>
            </div>

            <div class="form-group mb-20">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" required ngModel>
            </div>

            <button type="submit" class="btn btn-md btn-white-alt mb-20 float-left" [disabled]="!f.valid">Login</button>
            <p class="float-left ml-10 pt-10 small">
              <a [routerLink]="['/auth/forgot-password']">Forgot password</a>
            </p>

            <div class="clearfix"></div>

            <p class="">
              Not signed up yet? Then <a [routerLink]="['/auth/signup']" class="text-underline">sign up here</a>.
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

