<!--Overrides for Select2 Styles-->
<style>
  .select2-container--classic * {
    font-size: 14px;
  }

  .select2-container--classic .select2-results__option[aria-selected=true] {
    background-color: #EEEEEE;
  }

  .select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #2196F3;
  }

  .select2-container--classic .select2-results__option--highlighted[aria-selected=true] {
    background-color: #2196F3;
  }
</style>
<!--End of Overrides for Select2 Styles-->

<app-loading></app-loading>

<section *ngIf="post">
  <div class="container-fluid">
    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="mb-20">Edit Post</h3>
        <p>Edit your post here. We have already populated previously filled in the fields for you.</p>
      </div>

      <div class="col-sm-4 text-right xs-text-left d-none d-sm-block">
        <a (click)="backClicked()"
           class="btn btn-md btn-dark-gray waves waves-effect waves-light waves-ripple">
          <i class="fa fa-long-arrow-left mr-5"></i> back
        </a>
      </div>
    </div>

    <div class="clearfix mb-30"></div>

    <form #f="ngForm" (ngSubmit)="onUpdate(f)" class="form-horizontal" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-12">
          <app-error-messages></app-error-messages>
        </div>

        <div class="col-sm-8">
          <div class="card bg-light-gray">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label for="title">Title:</label>
                </div>

                <div class="col-sm-9">
                  <input [(ngModel)]="post.title" required id="title" class="form-control" type="text" name="title">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label for="slug">Slug:</label>
                </div>

                <div class="col-sm-9">
                  <input [ngModel]="post.slug | slugify" (ngModelChange)="post.slug=$event" required id="slug"
                         class="form-control" type="text" name="slug">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label for="title">Sub-Title:</label>
                </div>

                <div class="col-sm-9">
                  <input [(ngModel)]="post.subtitle" id="subtitle" class="form-control" type="text" name="subtitle">
                </div>
              </div>
            </div>

            <div class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-12">
                  <label>Main Content:</label>
                  <div class="clearfix mb-10"></div>
                  <app-tinymce initialContent="{{post.main_content}}"
                               [elementId]="'main-content'"
                               (onEditorKeyup)="tinymceKeyup($event)"></app-tinymce>
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="col-sm-4">
          <div class="card bg-light-gray">

            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label>
                    Featured Image:
                  </label>
                </div>

                <div class="col-xs-6 lg-text-right">
                  <div id="file_input_wrap" class="file_input_wrap">
                    <!--<a (click)="removeImage()" class="btn btn-md btn-danger pt-5 pb-5 ml-5 float-right"-->
                    <!--[ngClass]="post.featured_image ? '':'d-none'" id="remove_image"><i-->
                    <!--class="fa fa-times"></i></a>-->

                    <label
                      class="hand-cursor btn btn-md btn-blue waves waves-effect waves-ripple waves-light pt-5 pb-5 float-right">
                      <input type="file" (change)="fileChangeEvent($event)" name="featured_image" id="featured_image"
                             placeholder="Upload File"/>
                      <span class="fa fa-picture-o mr-10"></span>
                      <span class="photo_text">add</span>
                    </label>


                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <img *ngIf="showPreviewImage" src="{{ env_url + 'uploads/posts/' + post.featured_image }}"
                       id="preview" class="img-fluid mt-20" alt="Preview">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-5 col-xs-6">
                  <label for="category">Category:</label>
                  <a (click)="showInput($event, 'category')" class="text-dark-gray"><i
                    class="fa fa-pencil ml-10"></i></a>
                </div>

                <div class="col-sm-7 col-xs-6">
                  <p id="category_preview" class="nmbottom pt-5 text-right text-capitalize">
                    {{ post.category.title }}
                  </p>

                  <select [disabled]="disabledCategory"
                          name="category"
                          id="category"
                          class="form-control d-none"
                          required
                          [ngModel]="defaultCategory">
                    <option disabled selected>Please choose</option>
                    <option *ngFor="let category of categories" value="{{ category.id }}">
                      {{ category.title }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-5 col-xs-6">
                  <label for="user_id">Author:</label>
                  <a (click)="showInput($event, 'user_id')" class="text-dark-gray"><i
                    class="fa fa-pencil ml-10"></i></a>
                </div>

                <div class="col-sm-7 col-xs-6">
                  <p id="user_id_preview" class="nmbottom pt-5 text-right text-capitalize">
                    {{ post.user.firstname + ' ' + post.user.lastname }}
                  </p>
                  <select [disabled]="disabledAuthor" name="user_id" id="user_id" class="form-control d-none"
                          [ngModel]="defaultAuthor">
                    <option *ngFor="let author of authors" [value]="author.id">{{ author.firstname + ' ' +
                      author.lastname }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-5 col-xs-6">
                  <label for="status">Status:</label>
                  <a (click)="showInput($event, 'status')" class="text-dark-gray"><i class="fa fa-pencil ml-10"></i></a>
                </div>

                <div class="col-sm-7 col-xs-6">
                  <p id="status_preview" class="nmbottom pt-5 text-right text-capitalize">{{ post.status }}</p>
                  <select [disabled]="disabledStatus" name="status" id="status" class="form-control d-none"
                          [ngModel]="defaultStatus"
                          required>
                    <option value="published">Published</option>
                    <option value="draft">Draft</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-5 col-xs-6">
                  <label>Live Date</label>
                  <a (click)="showInput($event, 'date_picker')" class="text-dark-gray"><i
                    class="fa fa-pencil ml-10"></i></a>
                </div>
                <div class="col-sm-7 col-xs-6">
                  <p id="date_picker_preview" class="nmbottom pt-5 text-right">
                    {{ post.live_date | dateFormat }}
                  </p>
                  <my-date-picker id="date_picker"
                                  class="d-none" name="mydate"
                                  [options]="myDatePickerOptions"
                                  [(ngModel)]="live_date" [disabled]="disableDP"
                                  required></my-date-picker>
                </div>
              </div>
            </div>

          </div>

          <div class="card bg-light-gray">
            <div class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-12">

                  <label for="tags">Tags
                    <small>(optional)</small>
                    :</label>

                </div>

                <div class="clearfix"></div>

                <div class="col-sm-12">
                  <select2 id="tags"
                           [data]="tagsArray"
                           [cssImport]="false"
                           [options]="options"
                           [value]="value"
                           (valueChanged)="select2Changed($event)"></select2>
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <a (click)="backClicked()"
               class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
              <i class="fa fa-long-arrow-left"></i>
            </a>


            <button class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light float-right"
                    type="submit"
                    [disabled]="!f.valid">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
