<!--Overrides for Select2 Styles-->
<style>
  .select2-container--classic * {
    font-size: 14px;
  }

  .select2-container--classic .select2-results__option[aria-selected=true] {
    background-color: #EEEEEE;
  }

  .select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #2196F3;
  }

  .select2-container--classic .select2-results__option--highlighted[aria-selected=true] {
    background-color: #2196F3;
  }
</style>
<!--End of Overrides for Select2 Styles-->

<section>
  <div class="container-fluid">
    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="mb-20">Create Post</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi debitis doloribus dolorum, ea enim et
          expedita illo impedit, ipsum magni molestias natus officiis porro, quos reprehenderit voluptas voluptatibus!
          Officiis.</p>
      </div>
    </div>

    <div class="clearfix mb-30"></div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal" enctype="multipart/form-data">

      <div class="row">
        <div class="col-12">
          <app-error-messages></app-error-messages>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <div class="card bg-light-gray pt-20 pb-15 mb-20">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label for="title">Title:</label>
                </div>

                <div class="col-sm-9">
                  <input required [(ngModel)]="title" id="title" class="form-control" type="text" name="title"
                         [value]="title"
                         (input)="title = $event.target.value">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label>Slug:</label>
                </div>

                <div class="col-sm-9">
                  <p id="slug_preview" class="pt-5">
                    {{ title | slugify }}

                    <!--<a (click)="showInput($event, 'slug')"><i class="fa fa-pencil ml-10 text-dark-gray"></i></a>-->
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label for="subtitle">Sub-Title:</label>
                </div>

                <div class="col-sm-9">
                  <input type="text" name="subtitle" id="subtitle" class="form-control" ngModel>
                </div>
              </div>
            </div>

            <div class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-12">
                  <label>Main Content:</label>
                  <div class="clearfix mb-10"></div>
                  <app-tinymce [elementId]="'main-content'"
                               (onEditorKeyup)="tinymceKeyup($event)"></app-tinymce>
                  <!--<textarea id="content" name="content" class="" style="height: 200px;"></textarea>-->
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-5">
          <div class="card bg-light-gray pt-15 pb-15">

            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label>
                    Featured Image:
                  </label>
                </div>

                <div class="col-6 text-right">
                  <div id="file_input_wrap" class="file_input_wrap">
                    <a (click)="removeImage()" class="btn btn-md btn-danger pt-5 pb-5 d-none ml-5 float-right"
                       id="remove_image"><i class="fa fa-times"></i></a>

                    <label
                      class="hand-cursor pt-5 pb-5 btn btn-md btn-blue waves waves-effect waves-ripple waves-light float-right">
                      <input type="file" (change)="fileChangeEvent($event)" name="featured_image" id="featured_image"
                             placeholder="Upload File"/>
                      <span class="fa fa-picture-o mr-10"></span>
                      <span class="photo_text d-none d-sm-inline-block">add</span>
                    </label>


                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <img src="" id="preview" class="img-fluid d-none mt-20" alt="Preview">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-5">
                  <label for="status">Category:</label>

                </div>

                <div class="col-sm-7">
                  <select required name="category" id="category" class="form-control" [ngModel]="defaultCategory">
                    <option [disabled]="disabledOption" readonly>Please choose</option>
                    <option *ngFor="let category of categories" value="{{ category.id }}">
                      {{ category.title }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-5">
                  <label for="status">Author:</label>

                </div>

                <div class="col-sm-7">
                  <select required name="user_id" id="user_id" class="form-control" [ngModel]="defaultAuthor">
                    <option *ngFor="let author of authors" [value]="author.id">{{ author.firstname + ' ' +
                      author.lastname }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-5">
                  <label for="status">Status:</label>

                </div>

                <div class="col-sm-7">
                  <select required name="status" id="status" class="form-control" [ngModel]="defaultStatus">
                    <option value="published">Published</option>
                    <option value="draft">Draft</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-5">
                  <label>Live Date</label>
                </div>
                <div class="col-sm-7">
                  <my-date-picker id="date_picker" name="mydate" [options]="myDatePickerOptions"
                                  [(ngModel)]="live_date" required></my-date-picker>
                </div>
              </div>
            </div>

          </div>

          <div class="card bg-light-gray mt-20 pb-15 pt-15">
            <div class="form-group nmbottom">
              <div class="row">
                <div class="col-sm-12">

                  <label for="tags">Tags
                    <small>(optional)</small>
                    :</label>

                </div>

                <div class="clearfix"></div>

                <div class="col-sm-12">
                  <select2 id="tags"
                           [data]="tagsArray"
                           [cssImport]="false"
                           [options]="options"
                           (valueChanged)="select2Changed($event)"></select2>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-20">

            <a *ngIf="adminRoles.indexOf(role) != -1" [routerLink]="['/admin/posts']"
               class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
              <i class="fa fa-long-arrow-left"></i>
            </a>

            <a *ngIf="role === 'author'" [routerLink]="['/admin/my-posts']"
               class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
              <i class="fa fa-long-arrow-left"></i>
            </a>

            <button class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light float-right" type="submit" [disabled]="!f.valid">
              Submit
            </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</section>
