<section class="bg-white">
  <div class="container-fluid">

    <div class="row mt-10">
      <div class="col-sm-8">
        <h3 class="mb-20">All Posts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi debitis doloribus dolorum, ea enim et
          expedita illo impedit, ipsum magni molestias natus officiis porro, quos reprehenderit voluptas voluptatibus!
          Officiis.</p>
      </div>

      <div class="col-sm-4 text-right xs-text-left">
        <a routerLink="/admin/post/create"
           class="btn btn-admin-primary btn-md waves waves-effect waves-ripple waves-light">
          <i class="fa fa-plus mr-10"></i> create post
        </a>
      </div>
    </div>
  </div>
</section>

<app-error-messages></app-error-messages>

<section class="bg-light-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card npleft npright card-default bg-white nmbottom">

          <div class="card-header pl-15 pr-15 bg-white mb-10">
            <p class="nmbottom">
              Posts: {{ postsCount }}

              <span class="float-right" style="cursor: pointer">
                Toggle View: <i (click)="changeView($event.target)" class="fa fa-toggle-on ml-5"></i>
              </span>
            </p>
          </div>

          <div class="card-body post_fb-container">

            <div *ngIf="posts?.length === 0">
              <p>
                No Posts! <a routerLink="/admin/post/create">Create your first post</a>
              </p>
            </div>

            <div *ngIf="posts?.length !== 0 && viewBlock === 'block'" class="row">
              <div app-post
                   @showHide
                   class="col-xl-4 col-lg-6 float-left"
                   *ngFor="let post of posts  | paginate: { id: 'post-pagination', itemsPerPage: 6, currentPage: page }"
                   [viewBlock]="viewBlock"
                   [post]="post"
                   (postDeleted)="onDeleted($event)">

              </div>
            </div>

            <div *ngIf="posts?.length !== 0 && viewBlock === 'table'" class="table-responsive" [class]="">

              <div class="col-sm-12">

                <table class="table table-striped">
                  <thead>
                  <tr>
                    <!--<th>ID</th>-->
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Live&nbsp;Date</th>
                    <th>Status</th>
                    <th class="text-center" style="width: 250px;">Tags</th>
                    <th style="width: 100px;"></th>
                  </tr>

                  </thead>
                  <tbody>
                  <tr
                    app-post
                    @showHide
                    *ngFor="let post of posts | paginate: { id: 'post-pagination', itemsPerPage: 6, currentPage: page }"
                    [post]="post"
                    [viewBlock]="viewBlock"
                    (postDeleted)="onDeleted($event)">
                  </tr>
                  </tbody>


                </table>

              </div>

            </div>

          </div>

          <div *ngIf="postsCount > 6" class="card-footer pl-15 pr-15 bg-white">
            <pagination-controls id="post-pagination" directionLinks="true"
                                 autoHide="true"
                                 previousLabel=""
                                 nextLabel=""
                                 (pageChange)="page = $event">
            </pagination-controls>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
