<div *ngIf="viewBlock === 'block'" class="post_fb">

  <div [routerLink]="['/admin/post/edit', post.id]" class="post_fb-image">
    <img [src]="imageSrc" alt="Post image" width="100%">

    <div class="post_fb-image--overlay"></div>

    <p>
      Category: <span class="text-bold">{{ post.category.title }}</span>
      <i class="clearfix"></i>
      Live Date: <span class="text-bold">{{ post.live_date | dateFormat }}</span>
    </p>
  </div>

  <div class="post_fb-actions">
    <ul class="list-inline">
      <li [routerLink]="['/admin/post/edit', post.id]" class="hover list-inline-item">
        <i class="fa fa-pencil"></i>
      </li>

      <li *ngIf="post.status === 'published'" class="ml-5 list-inline-item" [ngClass]="post.status === 'published' ? 'bg-green' : ''">
        <i class="fa fa-flash"></i>
      </li>

      <li class="bg-red ml-5 list-inline-item" *ngIf="!isAuthor" (click)="onDelete()">
        <i class="fa fa-trash"></i>
      </li>
    </ul>
  </div>

  <div class="post_fb-details">
    <h3>
      <a [routerLink]="['/admin/post/edit', post.id]">
        {{ post.title }}
      </a>
    </h3>
    <div class="mb-20"
           ></div>
  </div>

  <div class="post_fb-footer">
    <p>
      Written by: <span class="text-bold">{{ post.user.firstname + ' ' + post.user.lastname }}</span> |
      <span class="text-capitalize">{{ post.status }}</span>
    </p>
  </div>


</div>


  <td *ngIf="viewBlock === 'table'"><a [routerLink]="['/admin/post/edit', post.id]">
    {{ post.title }}
  </a></td>

  <td *ngIf="viewBlock === 'table'">{{ post.slug }}</td>

  <td *ngIf="viewBlock === 'table'">
    {{ post.user.firstname + ' ' + post.user.lastname }}
  </td>

  <td *ngIf="viewBlock === 'table'">
    {{ post.category.title }}
  </td>

  <td *ngIf="viewBlock === 'table'">
    {{ post.live_date | dateFormat }}
  </td>

  <td *ngIf="viewBlock === 'table'">
    <span class="text-capitalize">{{ post.status }}</span>
  </td>

  <td *ngIf="viewBlock === 'table'" class="text-center">
  <div *ngIf="post.tags.length > 0">
    <button *ngFor="let tag of post.tags"
            class="badge badge-primary mr-5 small"
            [routerLink]="['/admin/tag/show', tag.id]">
      <span>
      {{ tag.title }}
      </span>
    </button>
  </div>

    <div *ngIf="post.tags.length === 0">
      No tags
    </div>

  </td>
  <td *ngIf="viewBlock === 'table'" class="text-right">
    <a [routerLink]="['/admin/post/show', post.id]" class="text-white btn btn-warning btn-xs"><i
      class="fa fa-eye"></i></a>

    <a class="text-white btn btn-danger text-white btn-xs" *ngIf="!isAuthor" (click)="onDelete()"><i class="fa fa-trash"></i></a>
  </td>
