<section id="preview-post">
  <div class="container-fluid">

    <div class="clearfix"></div>

    <div class="row" *ngIf="!post">
      <div class="col-sm-12">
        <h3 class="text-center mt-10">
          There is no post matching this ID
        </h3>
      </div>
    </div>


    <div class="row" *ngIf="post">
      <div class="col-sm-8">
        <h2 class="mb-20">
          {{ post.title }}
        </h2>

        <h4 *ngIf="post.subtitle" class="mb-10">{{ post.subtitle }}</h4>

        <div [innerHTML]="post.main_content"></div>

        <div class="clearfix mt-30"></div>

        <div class="">
          <a (click)="backClicked()"
             class="btn btn-md btn-dark-gray float-left waves waves-effect waves-light waves-ripple">
            <i class="fa fa-long-arrow-left"></i> back
          </a>

          <a [routerLink]="['/admin/post/edit', post.id]"
             class="btn btn-md btn-admin-primary float-right waves waves-effect waves-light waves-ripple">
            <i class="fa fa-pencil mr-10"></i>
            edit
          </a>
        </div>

        <div class="clearfix"></div>

      </div>

      <div class="clearfix visible-xs mt-30"></div>

      <aside class="col-sm-4">
        <div class="card bg-light-gray">
          <!--<h4>Post Details:</h4>-->

          <!--<hr>-->

          <ul class="list-unstyled nmbottom">
            <li *ngIf="post.featured_image">
              <strong>Featured Image:</strong>
              <div class="clearfix mt-10"></div>
              <img src="{{ env_url + 'uploads/posts/' + post.featured_image }}" class="img-fluid"
                     alt="{{ post.title }} Image" width="100%">

            </li>
            <li>
              <strong>
                Slug:
              </strong>
              <div class="clearfix"></div>
              <a [routerLink]="['/blog/' + post.slug]">../blog/{{ post.slug }}</a>

            </li>

            <li>
              <span>
                Published:
              </span>

              {{ post.live_date | dateFormat }}
            </li>

            <li>
              <span>
                Category:
              </span>

              {{ post.category.title }}
            </li>

            <li>
              <span>
                Author:
              </span>

              {{ post.user.firstname + ' ' + post.user.lastname }}
            </li>

            <li class="text-capitalize">
              <span>
                Status:
              </span>

              {{ post.status }}
            </li>
          </ul>
        </div>


      </aside>
    </div>
  </div>
</section>
