<!-- Call To Action Module -->
<section id="page-cta" class="pt-20 pb-20 mh-350">
  <div class="center-content container">
    <div class="row">
      <div class="col-8 mx-auto text-white text-center">
        <svg width="30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="-10 -10 200 300" enable-background="new 0 0 187.634 289.066" xml:space="preserve">
          <path class="parallax-logo-symbol" fill="none" stroke="white" stroke-width="8" stroke-miterlimit="10" d="M147.077,120.983"/>
          <polygon class="parallax-logo-symbol" fill="none" stroke="white" stroke-width="8" stroke-miterlimit="10" points="6.901,71.381 41.601,157.681 1.401,210.181
        	102.401,287.681 183.601,187.981 170.401,146.781 186.501,111.081 185.538,109.551 117.401,1.381 "/>
          <line class="parallax-logo-symbol" fill="none" stroke="white" stroke-width="8" stroke-miterlimit="10" x1="79.001" y1="181.981" x2="186.501" y2="111.081"/>
          <polyline class="parallax-logo-symbol" fill="none" stroke="white" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
        	7.901,73.681 79.001,181.981 1.401,210.181 "/>
          <line class="parallax-logo-symbol" fill="none" stroke="white" stroke-width="8" stroke-miterlimit="10" x1="102.401" y1="287.681" x2="170.401" y2="146.781"/>
        </svg>
        <h2 class="text-white text-uppercase text-bold">
          Start your project
          <hr>
        </h2>
        <h3 class="mb-30 text-normal">Whatever the budget, talk to us today to see how we can help.</h3>
        <a routerLink="/contact" class="btn btn-lg btn-white-alt text-red mb-10">Get in Touch &raquo;</a>
      </div>
    </div>
  </div>
</section>
