<div class="card mb-30">
  <a [routerLink]="['/blog/' + post.slug]" class="">
    <h4>
      {{ post.title }}
    </h4>
  </a>
  <p>
    Category:

    <a class="text-red" [routerLink]="['/blog/category/', post.category.slug]">
      {{ post.category.title }}
    </a>
  </p>
  <p>
    Author: {{ post.user.firstname + ' ' + post.user.lastname }}
  </p>
  <p>
    Published: {{ post.live_date | dateFormat }}
  </p>

  <div *ngIf="post.tags.length > 0">

    <button [routerLink]="['/blog/tag/', tag.slug]"
            *ngFor="let tag of post.tags"
            class="label bg-red pt-5 pb-5 pl-10 pr-10 mr-5 mb-5">
        <span>
          {{ tag.title }}
        </span>
    </button>

  </div>

  <div class="clearfix"></div>
</div>
