<section id="process-module" class="bg-red padding-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-white">
        <h2 class="nmtop text-white text-left">
          Our Process
          <hr>
        </h2>
        <p>We follow four simple steps, <strong>Meet</strong>, <strong>Design</strong>, <strong>Develop</strong>
          and <strong>Deploy</strong>.</p>
      </div>
    </div>

    <!-- Start Row and Line Bubbles -->
    <div class="row mt-50 mb-60 process-steps ">

      <div class="process-line">
        <hr>
      </div>

      <div class="col process-step">
        <div id="process-ball-1" class="process-ball active" (click)="toggleProcess(1)">
          <span>1</span>
        </div>
      </div>

      <div class="col process-step">
        <div id="process-ball-2" class="process-ball" (click)="toggleProcess(2)">
          <span>2</span>
        </div>
      </div>

      <div class="col process-step">
        <div id="process-ball-3" class="process-ball" (click)="toggleProcess(3)">
          <span>3</span>
        </div>
      </div>

      <div class="col process-step">
        <div id="process-ball-4" class="process-ball" (click)="toggleProcess(4)">
          <span>4</span>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <!-- Start process steps -->
    <div class="row mb-40 text-center process-steps">
      <div id="process-step-1" class="col process-step active" (click)="toggleProcess(1)">
        <div class="process-content text-white">
          <h3>
            Meet
            <hr>
          </h3>
          <p>Here you tell us what you need and what you want, we then scope out your project and ensure we bundle
            in as much goodies as possible for your budget.</p>
        </div>
      </div>

      <div id="process-step-2" class="col process-step" (click)="toggleProcess(2)">
        <div class="process-content text-white">
          <h3>
            Design
            <hr>
          </h3>
          <p>Our designers get busy producing mockups for your web build, always up to date with latest design
            trends, with a mobile first approach.</p>
        </div>
      </div>

      <div id="process-step-3" class="col process-step" (click)="toggleProcess(3)">
        <div class="process-content text-white">
          <h3>
            Develop
            <hr>
          </h3>
          <p>Our code geeks work their magic and create your online presence. Building, testing and getting it
            real world ready!</p>
        </div>
      </div>

      <div id="process-step-4" class="col process-step" (click)="toggleProcess(4)">
        <div class="process-content text-white">
          <h3>
            Deploy
            <hr>
          </h3>
          <p>We have lift off! Your site is launched and we are always a phone call, or an email, away from
            helping you along the way.</p>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row mt-10 text-center">
      <div class="col-md-6 mx-auto">
        <a routerLink="/contact" class="btn btn-md btn-white-alt text-red">Start Your Project</a>
      </div>
    </div>

  </div>
</section>
