<div class="project-block">
  <a [routerLink]="['/projects/' + project.slug]" class="project-container">
    <div class="project-image">
      <img [src]="logoImageSrc" class="img-fluid"
           alt="{{ project.title }} Image" width="100%">
    </div>

    <div class="project-overlay">

      <div class="project-overlay-content">
        <h4>
          {{ project.title }}
        </h4>

        <span class="badge badge-primary" *ngFor="let tag of project.tags">{{ tag.title }}</span>
      </div>

    </div>
  </a>
</div>

