<app-breadcrumbs></app-breadcrumbs>

<section class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>
          Hosting
        </h2>
        <h3>
          Safe and secure, Linux and Windows Hosting...
          <hr>
        </h3>

        <p>
          We offer more than just a home for your website. We are experts in this field and focus on
          providing prompt, knowledgeable and friendly customer support. We pride ourselves on being totally dependable.
          We aim to provide a quick and effective solution to whatever needs may arise with your site. All our hosting is in the “Cloud”, so we have a superb 99.9% uptime! Amazing or what?</p>
      </div>
    </div>
  </div>
</section>

<app-page-cta></app-page-cta>
