<app-breadcrumbs></app-breadcrumbs>

<section class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>
          Search Engine Optimisation
        </h2>
        <h3>
          Targeted optimisation. Bring your customers to you...
          <hr>
        </h3>

        <p>
          Need to be found by your customers? What you need is a great SEO package that is tailored to you and your website.
          Local SEO campaigns are a great way to be found in your local area.</p>
        <p>
          In order for us to attain the best results possible for your campaign we will need to review your site,
          and carry out extensive keyword research. Once this is done we will advise you on changes that need to be made in order to better your presence online.
        </p>
      </div>
    </div>
  </div>
</section>

<app-page-cta></app-page-cta>
