<div id="page">
  <app-nav></app-nav>

  <div id="push-wrapper">
    <app-header></app-header>

    <main id="main" class="ie8-hide" role="main">
      <router-outlet></router-outlet>


    </main>
    <app-footer></app-footer>
  </div>
</div>
