<app-breadcrumbs></app-breadcrumbs>

<section class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>
          Web Development
        </h2>
        <h3>
          Beauty with every click...

          <hr>
        </h3>
        <p>
          Our staff are highly trained in all the latest in Web Development technologies, so we have the ability and capability to produce the quality you would expect from a first-class Web Design & Development team.
        </p>

        <p>
          Our website packages are loaded with extras including Free HTML5 coding, Free hosting for a year, Free .co.uk/.com domain name for a year, and not to mention the quality JPPdesigns service offered to all.
        </p>
      </div>
    </div>
  </div>
</section>

<app-page-cta></app-page-cta>
