<app-breadcrumbs></app-breadcrumbs>

<section class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>
          What we do
        </h2>
        <h3>
          More than just a creative agency...

          <hr>
        </h3>
        <p>
          We not only specialise in Web Design &amp; Development but also Graphic Design,
          Visual Branding, Search Engine Optimisation and Printing. </p>
        <p>As standard we will always advise the best course of action to encourage
          growth in your business. Check out our services below and get in touch today to see how we can help your
          business...
        </p>
      </div>
    </div>
  </div>
</section>


<!--// Parallax Scrolling Container-->
<div routerLink="/services/web-development" class="parallax parallax-block">
  <div class="parallax-img-wrapper">
    <img src="../../../../dist/img/bg-web.jpg" alt="Pixel Twist Web Development and Design" width="100%">
  </div>

  <div class="parallax-content col-md-4 col-xs-12">

    <div class="icon-svg">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 62.794 63.234" enable-background="new 0 0 62.794 63.234" xml:space="preserve">
                <path class="icon-web" fill="none" stroke="#414042" stroke-width="2" stroke-miterlimit="10" d="M77.575,12.97"/>
                <ellipse fill="#FFF" cx="31.4" cy="31.628" rx="5.154" ry="5.195"/>
                <ellipse class="icon-web" fill="none" stroke="#434343" stroke-width="1.1242" stroke-miterlimit="10" cx="31.525" cy="31.617" rx="9.862" ry="30.883"/>
                <ellipse class="icon-web" transform="matrix(0.8414 -0.5404 0.5404 0.8414 -12.0583 22.1348)" fill="none" stroke="#434343" stroke-width="1.1704" stroke-miterlimit="10" cx="31.684" cy="31.612" rx="33.702" ry="9.796"/>
                <ellipse class="icon-web" transform="matrix(0.5404 -0.8414 0.8414 0.5404 -11.9715 41.2237)" fill="none" stroke="#434343" stroke-width="1.1704" stroke-miterlimit="10" cx="31.749" cy="31.57" rx="9.796" ry="33.702"/>
                </svg>
    </div>

    <h3>Web Development</h3>

    <span class="btn btn-md btn-white mt-20">
      Learn more &raquo;
    </span>

  </div>

  <div class="parallax-overlay"></div>
</div>
<!--// End of Parallax Scrolling Container-->

<section class="pt-5 pb-5"></section>

<!--// Parallax Scrolling Container-->
<div routerLink="/services/graphic-design" class="parallax parallax-block">
  <div class="parallax-img-wrapper">
    <img src="../../../../dist/img/bg-graphic-design.jpg" alt="Pixel Twist Graphic Design" width="100%">
  </div>
  <div class="parallax-content col-md-4 col-xs-12">

    <div class="icon-svg">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 62.8 63.2" style="enable-background:new 0 0 62.8 63.2;" xml:space="preserve">
                <rect class="icon-design" x="1" y="14.5" width="60.7" height="38.4"/>
                <path class="icon-design" d="M77.6,13"/>
                <polyline class="icon-design" points="1,48.2 14.1,28.8 24.4,40.9 29.4,34.5 37.4,44 50.6,22.4 61.7,38.7 "/>
                </svg>
    </div>

    <h3>Graphic Design</h3>

    <span class="btn btn-md btn-white mt-20">
      Learn more &raquo;
    </span>
  </div>

  <div class="parallax-overlay"></div>
</div>
<!--// End of Parallax Scrolling Container-->

<section class="pt-5 pb-5"></section>

<!--// Parallax Scrolling Container-->
<div routerLink="/services/search-engine-optimisation" class="parallax parallax-block">
  <div class="parallax-img-wrapper">
    <img src="../../../../dist/img/bg-seo.jpg" alt="Pixel Twist Graphic Design" width="100%">
  </div>

  <div class="parallax-content col-md-4 col-xs-12">

    <div class="icon-svg">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 62.794 63.234" enable-background="new 0 0 62.794 63.234" xml:space="preserve">
                  <path class="icon-seo" fill="none" stroke="#414042" stroke-width="2" stroke-miterlimit="10" d="M77.575,12.97"/>
                  <path class="icon-seo" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" d="M54.321,23.946c0.002,8.841-7.162,16.01-16,16.01
                    c-8.834-0.001-15.998-7.17-16-16.009c0.004-8.844,7.166-16.01,16-16.01"/>
                  <line class="icon-seo" fill="none" stroke="#414042" stroke-width="2" stroke-miterlimit="10" x1="32.321" y1="23.991" x2="44.321" y2="23.991"/>
                  <line class="icon-seo" fill="none" stroke="#414042" stroke-width="2" stroke-miterlimit="10" x1="38.321" y1="17.946" x2="38.321" y2="29.946"/>
                  <g>
                    <path class="icon-seo" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" d="M38.372,1c-12.676,0-22.95,10.228-22.95,22.846
                      c0,4.571,1.361,8.818,3.686,12.39L1.418,53.862l8.027,7.962l17.963-17.901c3.26,1.766,6.992,2.77,10.963,2.77
                      c12.678,0,22.951-10.229,22.951-22.846C61.323,11.227,51.049,1,38.372,1L38.372,1z"/>
                  </g>
                </svg>
    </div>

    <h3>
      Search Engine
      <span>Optimisation</span>
    </h3>

    <span class="btn btn-md btn-white mt-20">
      Learn more &raquo;
    </span>
  </div>

  <div class="parallax-overlay"></div>
</div>
<!--// End of Parallax Scrolling Container-->

<section class="pt-5 pb-5"></section>

<!--// Parallax Scrolling Container-->
<div routerLink="/services/hosting" class="parallax parallax-block">
  <div class="parallax-img-wrapper">
    <img src="../../../../dist/img/bg-hosting.jpg" alt="Pixel Twist Graphic Design" width="100%">
  </div>
  <div class="parallax-content col-md-4 col-xs-12">

    <div class="icon-svg">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 62.794 63.234" enable-background="new 0 0 62.794 63.234" xml:space="preserve">
                <path class="icon-hosting" fill="none" stroke="#414042" stroke-width="2" stroke-miterlimit="10" d="M77.575,12.97"/>
                <path class="icon-hosting" fill="none" stroke="#434343" stroke-width="1.0658" stroke-miterlimit="10" d="M48.829,19.05H13.964
                  c-1.345,0-2.435-1.09-2.435-2.435l0-4.454c0-1.345,1.09-2.435,2.435-2.435h34.865c1.345,0,2.435,1.09,2.435,2.435v4.454
                  C51.264,17.96,50.174,19.05,48.829,19.05z"/>
                <path class="icon-hosting" fill="none" stroke="#434343" stroke-width="1.0658" stroke-miterlimit="10" d="M48.829,31.617H13.964
                  c-1.345,0-2.435-1.09-2.435-2.435l0-4.454c0-1.345,1.09-2.435,2.435-2.435h34.865c1.345,0,2.435,1.09,2.435,2.435v4.454
                  C51.264,30.527,50.174,31.617,48.829,31.617z"/>
                <path class="icon-hosting" fill="none" stroke="#434343" stroke-width="1.0658" stroke-miterlimit="10" d="M48.829,44.185H13.964
                  c-1.345,0-2.435-1.09-2.435-2.435l0-4.454c0-1.345,1.09-2.435,2.435-2.435h34.865c1.345,0,2.435,1.09,2.435,2.435v4.454
                  C51.264,43.095,50.174,44.185,48.829,44.185z"/>
                <circle fill="#434343" cx="15.875" cy="14.388" r="1.904"/>
                <circle fill="#434343" cx="15.875" cy="26.956" r="1.904"/>
                <circle fill="#434343" cx="15.875" cy="39.523" r="1.904"/>
                <polyline class="icon-hosting" fill="none" stroke="#434343" stroke-linejoin="round" stroke-miterlimit="10" points="27.576,46.258 27.576,51.105
                  9.109,51.105 "/>
                <polyline class="icon-hosting" fill="none" stroke="#434343" stroke-linejoin="round" stroke-miterlimit="10" points="34.579,46.258 34.579,51.105
                  53.046,51.105 "/>
                <line class="icon-hosting" fill="none" stroke="#434343" stroke-linejoin="round" stroke-miterlimit="10" x1="9.109" y1="55.26" x2="53.046" y2="55.26"/>
                </svg>
    </div>

    <h3>Hosting</h3>

    <span class="btn btn-md btn-white mt-20">
      Learn more &raquo;
    </span>
  </div>

  <div class="parallax-overlay"></div>
</div>
<!--// End of Parallax Scrolling Container-->

<section class="pt-5 pb-5"></section>

<app-page-cta></app-page-cta>
