<div id="admin">
  <app-admin-side-nav></app-admin-side-nav>
  <app-admin-header></app-admin-header>
  <main id="admin-main" class="ie8-hide" role="main">
    <router-outlet></router-outlet>

    <app-admin-footer></app-admin-footer>
  </main>
</div>



