<section>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-4">

        <div class="profile-block mb-30" *ngIf="user">
          <div class="profile-image">
            <img *ngIf="userImage" [src]="userImage"
                 alt="user avatar"
                 class="rounded-circle" width="200"/>
          </div>

          <div class="profile-content">
            <h4>Hi {{ user.firstname }}</h4>
            <a routerLink="/admin/profile" class="btn btn-sm btn-admin-primary mt-20">
              Edit Profile
            </a>
          </div>
        </div>

      </div>

      <div class="col-sm-8">
        <h3>Dashboard</h3>
        <p>
          Here we will list<br><br>the recent posts and<br><br>the recent projects.<br><br>It is just for a quick view
          nothing too complicated.
        </p>
      </div>
    </div>
  </div>
</section>
