* {
	box-sizing:border-box;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
  font-family:$fontOpen;
  margin:0 !important;
  position: relative;
  overflow-x: hidden;
  background-color: $white;
  color:$dark_gray-1;

  &.active {
    //height: 100vh !important;
    overflow: hidden;
  }
}

a {
	cursor: pointer;
}

//@font-face {
//	font-family: "Gotham Light";
//	src: url("../fonts/gotham-light.woff") format("woff");
//	src: url("../fonts/gotham-light.woff2") format("woff2");
//}
//
//@font-face {
//	font-family: "Gotham Book";
//	src: url("../fonts/gotham-book.woff") format("woff");
//	src: url("../fonts/gotham-book.woff2") format("woff2");
//}
//
//@font-face {
//	font-family: "Gotham Medium";
//	src: url("../fonts/gotham-medium.woff") format("woff");
//	src: url("../fonts/gotham-medium.woff2") format("woff2");
//}
//
//@font-face {
//	font-family: "Gotham Bold";
//	src: url("../fonts/gotham-bold.woff") format("woff");
//	src: url("../fonts/gotham-bold.woff2") format("woff2");
//}
