/*
// START OF JPPdesigns OVERRIDES SCSS
*/

.ie8-hide {display:block;}
.ie8 {display: none;}

a {
  cursor: pointer;
}

img {
  border:0;
  margin:auto;
  padding:0;
  vertical-align:middle;
}

::selection {
  background: $black;
  color:$white;
  text-shadow:none;
}

::-moz-selection {
  background:$black;
  color:$white;
  text-shadow:none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $mid_gray_1 inset;
}

button {
  appearance: none;
  border:none;
  background-color: transparent;
  padding: 0;
  margin:0px
}

/*
///////////////////////////////////////////
////////// Bootstrap Overrides ////////////
///////////////////////////////////////////
*/

.container-fluid {
  padding:0px;
  width: 100%;

  .row {
    //margin-left:15px;
    //margin-right:15px;
    margin-left:0;
    margin-right:0;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
}

.card {
  //padding:15px 15px;
  border-radius: 5px;
  box-shadow: none;
  border:none;
}

.alert {
  border-radius: 5px !important;
}

.card, .card-group {
  border-radius: 5px !important;
  box-shadow: none;
}

.modal {
  .modal-footer {
    text-align: center;
  }
}

.alert {
  border-radius: 0px;
}

ul.pagination {
  border-radius: 0px !important;

  li {
    &.active {
      span {
        background-color: $dark_gray_1;
        border-color: $dark_gray_1;

        &:hover {
          background-color: $dark_gray_1;
          border-color: $dark_gray_1;
        }
      }
    }

    a {
      color:$dark_gray_1;
    }

    &:first-child {
      a {
        border-radius: 0px !important;
      }
      span {
        border-radius: 0px !important;
      }
    }

    &:last-child {
      a {
        border-radius: 0px !important;
      }
    }
  }
}

.fa-angle-double-down {
  transition: .4s all;

  &.active {
    transform: rotate(-180deg);
  }
}

/*
////////////////////////////////////////
//////////  DISPLAY STYLES  ////////////
////////////////////////////////////////
*/

.display-table {
  display: table;
}

.display-row {
  display: table-row;
}

.display-cell {
  display: table-cell;
  vertical-align: top;
}

.display-block {
  display: block;
}

/*
////////////////////////////////////////
////////// OVERFLOW Overrides ////////////
////////////////////////////////////////
*/

.o-hidden {
  overflow: hidden;
}

.o-visible {
  overflow: visible;
}

.ox-hidden {
  overflow-x: hidden;
}

.oy-hidden {
  overflow-y: hidden;
}

.table-overflow {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

/*
////////////////////////////////////////
//////////  HEIGHT OVERRIDES  ////////////
////////////////////////////////////////
*/

.h-100 {height: 100%;}

/*
////////////////////////////////////////
//////////  WIDTH OVERRIDES  ////////////
////////////////////////////////////////
*/

.w-10 {width: 10% !important;}
.w-15 {width: 15% !important;}
.w-20 {width: 20% !important;}
.w-30 {width: 30% !important;}
.w-40 {width: 40% !important;}
.w-50 {width: 50% !important;}
.w-60 {width: 60% !important;}
.w-70 {width: 70% !important;}
.w-80 {width: 80% !important;}
.w-90 {width: 90% !important;}
.w-100 {width: 100% !important;}

/*
////////////////////////////////////////
////////// Padding Overrides ////////////
////////////////////////////////////////
*/

.no-padding, .npadding {padding:0px !important;}
.no-padding-left, .npleft {padding-left:0px !important;}
.no-padding-right, .npright {padding-right:0px !important;}
.no-padding-top, .nptop {padding-top:0px !important;}
.no-padding-bottom, .npbottom {padding-bottom:0px !important;}

.padding-xs {padding:15px 0;}
.padding-sm {padding:50px 0;}
.padding-md {padding:80px 0;}
.padding-lg {padding:100px 0;}

.pt-5 {padding-top:5px !important;}
.pt-6 {padding-top:6px !important;}
.pt-8 {padding-top:8px !important;}
.pt-10 {padding-top:10px !important;}
.pt-15 {padding-top:15px !important;}
.pt-20 {padding-top:20px !important;}
.pt-30 {padding-top:30px !important;}
.pt-40 {padding-top:40px !important;}
.pt-50 {padding-top:50px !important;}
.pt-60 {padding-top:60px !important;}
.pt-70 {padding-top:70px !important;}
.pt-80 {padding-top:80px !important;}
.pt-90 {padding-top:90px !important;}
.pt-100 {padding-top:100px !important;}

.pl-5 {padding-left:5px !important;}
.pl-10 {padding-left:10px !important;}
.pl-15 {padding-left:15px !important;}
.pl-20 {padding-left:20px !important;}
.pl-30 {padding-left:30px !important;}
.pl-40 {padding-left:40px !important;}
.pl-50 {padding-left:50px !important;}
.pl-60 {padding-left:60px !important;}
.pl-70 {padding-left:70px !important;}
.pl-80 {padding-left:80px !important;}
.pl-90 {padding-left:90px !important;}
.pl-100 {padding-left:100px !important;}

.pr-5 {padding-right:5px !important;}
.pr-10 {padding-right:10px !important;}
.pr-15 {padding-right:15px !important;}
.pr-20 {padding-right:20px !important;}
.pr-30 {padding-right:30px !important;}
.pr-40 {padding-right:40px !important;}
.pr-50 {padding-right:50px !important;}
.pr-60 {padding-right:60px !important;}
.pr-70 {padding-right:70px !important;}
.pr-80 {padding-right:80px !important;}
.pr-90 {padding-right:90px !important;}
.pr-100 {padding-right:100px !important;}

.pb-5 {padding-bottom:5px !important;}
.pb-10 {padding-bottom:10px !important;}
.pb-15 {padding-bottom:15px !important;}
.pb-20 {padding-bottom:20px !important;}
.pb-30 {padding-bottom:30px !important;}
.pb-40 {padding-bottom:40px !important;}
.pb-50 {padding-bottom:50px !important;}
.pb-60 {padding-bottom:60px !important;}
.pb-70 {padding-bottom:70px !important;}
.pb-80 {padding-bottom:80px !important;}
.pb-90 {padding-bottom:90px !important;}
.pb-100 {padding-bottom:100px !important;}

.p-15 {padding:15px !important;}


/*
////////////////////////////////////////
////////// Margin Overrides ////////////
////////////////////////////////////////
*/

.no-margin, .nmargin {margin:0px !important;}
.no-margin-left, .nmleft {margin-left:0px !important;}
.no-margin-right, .nmright {margin-right:0px !important;}
.no-margin-top, .nmtop {margin-top:0px !important;}
.no-margin-bottom, .nmbottom {margin-bottom: 0px !important;}

.mt-5 {margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-15 {margin-top:15px !important;}
.mt-20 {margin-top:20px !important;}
.mt-30 {margin-top:30px !important;}
.mt-40 {margin-top:40px !important;}
.mt-50 {margin-top:50px !important;}
.mt-55 {margin-top:55px !important;}
.mt-60 {margin-top:60px !important;}
.mt-70 {margin-top:70px !important;}
.mt-80 {margin-top:80px !important;}
.mt-90 {margin-top:90px !important;}
.mt-100 {margin-top:100px !important;}

.ml-5 {margin-left:5px !important;}
.ml-10 {margin-left:10px !important;}
.ml-20 {margin-left:20px !important;}
.ml-30 {margin-left:30px !important;}
.ml-40 {margin-left:40px !important;}
.ml-50 {margin-left:50px !important;}
.ml-60 {margin-left:60px !important;}
.ml-70 {margin-left:70px !important;}
.ml-80 {margin-left:80px !important;}
.ml-90 {margin-left:90px !important;}
.ml-100 {margin-left:100px !important;}

.ml--15 {margin-left: -15px !important;}

.mr-5 {margin-right:5px !important;}
.mr-10 {margin-right:10px !important;}
.mr-20 {margin-right:20px !important;}
.mr-30 {margin-right:30px !important;}
.mr-40 {margin-right:40px !important;}
.mr-50 {margin-right:50px !important;}
.mr-60 {margin-right:60px !important;}
.mr-70 {margin-right:70px !important;}
.mr-80 {margin-right:80px !important;}
.mr-90 {margin-right:90px !important;}
.mr-100 {margin-right:100px !important;}

.mr--15 {margin-right: -15px !important;}

.mb-5 {margin-bottom:5px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-40 {margin-bottom:40px !important;}
.mb-50 {margin-bottom:50px !important;}
.mb-60 {margin-bottom:60px !important;}
.mb-70 {margin-bottom:70px !important;}
.mb-80 {margin-bottom:80px !important;}
.mb-90 {margin-bottom:90px !important;}
.mb-100 {margin-bottom:100px !important;}

/*
////////////////////////////////////////
////////// Width Overrides ////////
////////////////////////////////////////
*/

.w-50 {width: 50% !important;}
.w-70 {width: 70% !important;}

/*
////////////////////////////////////////
////////// Min Height Overrides ////////
////////////////////////////////////////
*/

.mh-100 {min-height: 100px;}
.mh-150 {min-height: 150px;}
.mh-200 {min-height: 200px;}
.mh-250 {min-height: 250px;}
.mh-300 {min-height: 300px;}
.mh-350 {min-height: 350px;}
.mh-400 {min-height: 400px;}
.mh-450 {min-height: 450px;}
.mh-500 {min-height: 500px;}
.mh-550 {min-height: 550px;}

/*
////////////////////////////////////////
////////// Opacity Overrides ////////
////////////////////////////////////////
*/

.op-0 {opacity: 0 !important; transition: .4s all;}

/*
////////////////////////////////////////
////////// Border Overrides ////////////
////////////////////////////////////////
*/

.no-border, .nborder {border:none !important;}
.no-border-bottom, .nbbottom {border-bottom:0px !important;}
.no-border-top, .nbtop {border-top:0px !important;}
.no-border-left, .nbleft {border-left:0px !important;}
.no-border-right, .nbright {border-right:0px !important;}

.bw1 {border-width: 1px !important;}

/*
////////////////////////////////////////
////////// Border Radius Overrides ////////////
////////////////////////////////////////
*/

.no-border-radius, .nb-radius, .nbradius {border-radius:0px!important;}
.bradius-round {border-radius: 50% !important;}

/*
////////////////////////////////////////
////////// Transitions Overrides ////////////
////////////////////////////////////////
*/

.transition-4ms {transition: .4s all;}
.transition-delay-1s {transition-delay: 1s;}

/*
////////////////////////////////////////
////////// Text Overrides ////////////
////////////////////////////////////////
*/

.text-uppercase {text-transform: uppercase;}
.text-underline {text-decoration: underline;}
.text-thin {font-weight:100;}
.text-normal {font-weight: normal;}
.text-bold {font-weight: bold;}
.text-italic {font-style:italic;}
.text-capitalize {text-transform: capitalize;}
.font-open {font-family: $fontOpen;}
.font-arapey {font-family: $fontArapey;}

button, a {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 767px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
