/* TEXT STYLES START */

p, ul li, ol li, address {
  font-size:18px;
  font-weight:400;
  // margin-bottom: 20px;
  line-height: 1.5;
}

p {
  span {
    display: block;
  }
}

a {
  color:$red;

  &:hover {
    color:$red;
  }
}


h1 {
  font-size:40px;
  font-weight:bold;
  letter-spacing: -1px;

  &:first-child {
    margin-top: 0px;
  }
}

h2 {
  font-size:34px;
  font-weight:200;
  margin-bottom: 20px;
  margin-top: 5px;
  position: relative;

  hr {
    position: relative;
    border-width: 1px;
    border-color: $dark_gray-1 !important;
    width: 80px;
    margin: 15px auto 20px !important;
  }

  &.text-white {

    hr {
      border-color: $white !important;
    }
  }

  &.text-left {

    hr {
      margin: 15px 0 20px !important;
    }
  }
}

h3 {
  font-size:22px;
  font-weight:600;
  position: relative;

  &:first-child {
    margin-top: 0px;
  }

  &.after-dg {
    &:after {
      content: '';
      position: absolute;
      top: 40px;
      width: 100px;
      height: 1px;
      left: 0;
      background-color: $dark-gray-1;
    }
  }
}

h4 {
  font-size:18px;
  font-weight:400;

  &:first-child {
    margin-top: 0px;
  }
}

h5 {
  font-size:14px;
  font-weight:400;

  &:first-child {
    margin-top: 0px;
  }
}

h6 {
  font-size:12px;
  line-height: 16px;
  font-weight:400;

  &:first-child {
    margin-top: 0px;
  }
}

// Mobile Text Overrides
@media only screen and (max-width: 767px) {
	.xs-text-center {text-align:center;}
	.xs-text-left {text-align:left;}
  .xs-text-right {text-align:right;}
}

@media only screen and (min-width: 767px) {
	.sm-text-center {text-align:center;}
  .sm-text-left {text-align:left;}
  .sm-text-right {text-align:right;}
}

@media only screen and (min-width: 992px) {
	.md-text-center {text-align:center;}
  .md-text-left {text-align:left;}
  .md-text-right {text-align:right;}
}

@media only screen and (min-width: 1200px) {
	.lg-text-center {text-align:center;}
  .lg-text-left {text-align:left;}
  .lg-text-right {text-align:right;}
}
