/* Fonts */
$GothamLight: "Gotham Light", sans-serif;
$GothamBook: "Gotham Book", sans-serif;
$GothamMedium: "Gotham Medium", sans-serif;
$GothamBold: "Gotham Bold", sans-serif;
$fontOpen: 'Open Sans', sans-serif;
$fontArapey: 'Arapey', serif;

/* Colors */
$white: white;
$cream: #f1eee2;
$black: black;
$lightGray: #f5f5f5;
$darkGray: #424242;
$light_gray: #FAFAFA;
$mid_gray_1: #616161;
$mid_gray_2: #9E9E9E;
$dark_gray-1: #444444;
$dark_gray-2: #333333;


$red:#ff5c5c;
$darkRed:#F44336;
$orange:#FF9800;
$green:#4CAF50;
$blue:#03A9F4;
$purple:#673AB7;

/* Admin Colors */
$adminPrimary: #ff5c5c;
$adminSecondary: #FF9800;
