<section id="forgot-password">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <app-error-messages></app-error-messages>

          <div class="clearfix"></div>

          <h3 class="">Forgot Password</h3>

          <p>
            Please enter your account email address below.
          </p>

          <hr>

          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group mb-20">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" required ngModel>
            </div>

            <button type="submit" class="btn btn-md btn-white-alt mb-20 float-left" [disabled]="!f.valid">Submit
            </button>

            <div class="clearfix"></div>

            <p>
              Not signed up yet? Then <a [routerLink]="['/auth/signup']" class="">sign up here</a>. Alternativley <a
              [routerLink]="['/auth/signin']">signin here</a>.
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
