// Select 2 Overrides
.select2-results__option[aria-selected=true] {
  background-color: $lightGray !important;
}

form {
  &.ng-dirty {

    .ng-valid {
      border: 1px green solid;
    }

    .ng-invalid {
      border: 1px red solid;
    }
  }

  #date_picker {
    &.ng-invalid {
      border-color: transparent !important;
    }
    &.ng-valid {
      border-color: transparent !important;
    }
  }
}
